@font-face {
  font-family: "Museo Sans Cyrl 100";
  src: url("../fonts/MuseoSansCyrl-100.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Museo Sans Cyrl 300";
  src: url("../fonts/MuseoSansCyrl-300.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Museo Sans Cyrl 500";
  src: url("../fonts/MuseoSansCyrl-500.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Museo Sans Cyrl 700";
  src: url("../fonts/MuseoSansCyrl-700.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Fira Sans Light";
  src: url("../fonts/FiraSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Fira Sans Medium";
  src: url("../fonts/FiraSansMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Fira Sans Bold";
  src: url("../fonts/FiraSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

* {
  outline: none; }

a {
  cursor: pointer; }
  a:hover {
    text-decoration: none !important; }

html,
body {
  font-family: "Museo Sans Cyrl 500", "Tahoma";
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
div,
p {
  margin: 0;
  padding: 0;
  font-family: "Museo Sans Cyrl 500", "Tahoma";
  font-size: 14px;
  color: #000;
  font-weight: normal;
  list-style: none;
  text-decoration: none; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

section.admin_section {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  section.admin_section .log_form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 466px;
    width: 100%;
    padding: 15px; }
    section.admin_section .log_form_image {
      max-width: 245px;
      width: 100%;
      margin-bottom: 50px; }
      section.admin_section .log_form_image img {
        width: 100%; }
    section.admin_section .log_form_desc {
      color: #201600;
      font-family: "Fira Sans Light";
      font-size: 16px;
      -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
      align-self: flex-start;
      font-weight: 300;
      margin-bottom: 10px; }
    section.admin_section .log_form_input {
      color: #a6a299;
      font-family: "Fira Sans Light";
      font-size: 16px;
      font-weight: 300;
      padding: 16px 20px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin-bottom: 40px;
      width: 100%;
      border: 1px solid #9b9b9b; }
    section.admin_section .log_form_btn {
      color: #ffffff;
      font-family: "Fira Sans";
      font-size: 16px;
      font-weight: 400;
      padding: 14px 80px;
      background-color: #ff3181;
      border: none;
      margin-bottom: 15px;
      cursor: pointer; }
    section.admin_section .log_form .error_text {
      color: #d8d8d8;
      font-family: "Fira Sans Light";
      font-size: 16px;
      font-weight: 300; }

#settingsAdmin {
  overflow: auto; }

section.settingsAdmin_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh; }
  section.settingsAdmin_section .settingAdmin_nav {
    background-color: #ededed;
    width: 226px;
    padding: 24px 36px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative; }
    section.settingsAdmin_section .settingAdmin_nav_link {
      margin-bottom: 70px;
      display: block;
      width: 100%; }
      section.settingsAdmin_section .settingAdmin_nav_link_image {
        width: 100%; }
  section.settingsAdmin_section .exit_item_admin {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 24px 36px; }
    section.settingsAdmin_section .exit_item_admin button {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border: none;
      width: 100%;
      background: transparent;
      cursor: pointer; }
  section.settingsAdmin_section .settingAdmin_list {
    margin: 0 -37px;
    position: relative; }
    section.settingsAdmin_section .settingAdmin_list_item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      margin: 22px 0;
      padding: 11px 30px; }
      section.settingsAdmin_section .settingAdmin_list_item_icon {
        width: 30px;
        /* height: 30px; */
        margin-right: 16px; }
      section.settingsAdmin_section .settingAdmin_list_item_text {
        color: #4a4a4a;
        font-family: "Museo Sans Cyrl 500";
        font-size: 18px; }
      section.settingsAdmin_section .settingAdmin_list_item.last_item_admin {
        position: absolute;
        bottom: 0;
        left: 0; }
        .current-page{
          background: #fff;
        }
  section.settingsAdmin_section .settingAdmin_block {
    width: 100%;
    max-width: 1400px;
    padding: 40px 50px; }
    section.settingsAdmin_section .settingAdmin_block_title {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 28px; }
      section.settingsAdmin_section .settingAdmin_block_title_icon {
        width: 30px;
        margin-right: 16px; }
      section.settingsAdmin_section .settingAdmin_block_title_text {
        color: #4a4a4a;
        font-family: "Museo Sans Cyrl 500";
        font-size: 24px; }
    section.settingsAdmin_section .settingAdmin_block_desc {
      color: #201600;
      font-family: "Museo Sans Cyrl 500";
      font-size: 18px;
      letter-spacing: 0.8px;
      margin-bottom: 56px; }
    section.settingsAdmin_section .settingAdmin_block .settingAdmin_form .settingAdmin_form_row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    section.settingsAdmin_section .settingAdmin_block .settingAdmin_form_item {
      width: 30%;
      min-width: 300px;
      margin: 0 10px; }
      section.settingsAdmin_section .settingAdmin_block .settingAdmin_form_item_desc {
        color: #201600;
        font-family: "Fira Sans";
        font-size: 16px;
        letter-spacing: 0.71px;
        line-height: 28px; }
      section.settingsAdmin_section .settingAdmin_block .settingAdmin_form_item_input {
        padding: 12px 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        border: 1px solid #201600;
        background-color: #ffffff;
        color: #201600;
        font-family: "Fira Sans";
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.71px;
        line-height: 28px;
        margin-bottom: 20px; }
        section.settingsAdmin_section .settingAdmin_block .settingAdmin_form_item_input.input_submit_btn {
          color: #ffffff;
          font-size: 16px;
          font-family: "Fira Sans Light";
          letter-spacing: 0.71px;
          line-height: 28px;
          background-color: #ff3181;
          border: none;
          cursor: pointer; }

#testimonialsAdmin {
  overflow: auto; }

#faqsAdmin {
  overflow: auto; }

section.settingsAdmin_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh; }
  section.settingsAdmin_section .settingAdmin_block {
    padding-bottom: 100px;
    position: relative; }
    section.settingsAdmin_section .settingAdmin_block.noScroll {
      overflow-x: hidden; }
    section.settingsAdmin_section .settingAdmin_block .edit_modal {
      position: fixed;
      top: 0;
      right: 0;
      left: 207px;
      bottom: 0;
      opacity: 0;
      visibility: hidden;
      overflow: auto;
      display: none;
      overflow: hidden; }
      section.settingsAdmin_section .settingAdmin_block .edit_modal.active {
        opacity: 1;
        -webkit-transition: all .4s ease-out;
        transition: all .4s ease-out;
        visibility: visible;
        overflow-y: auto; }
      section.settingsAdmin_section .settingAdmin_block .edit_modal .overlay {
        position: absolute;
        top: 0;
        width: 100vw;
        left: 0;
        bottom: 0;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.7); }
      section.settingsAdmin_section .settingAdmin_block .edit_modal .close_edit_modal {
        position: absolute;
        top: -30px;
        right: -30px;
        cursor: pointer; }
      section.settingsAdmin_section .settingAdmin_block .edit_modal_container {
        max-width: 1000px;
        width: 100%;
        position: absolute;
        top: 15vh;
        z-index: 2;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        border: 1px solid #ff3181;
        background-color: #ffffff;
        padding: 45px 50px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        section.settingsAdmin_section .settingAdmin_block .edit_modal_container_item {
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -moz-box-orient: vertical;
          -moz-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          -moz-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between; }
          section.settingsAdmin_section .settingAdmin_block .edit_modal_container_item .image_box .edit_modal_container_item_title {
            margin-bottom: 5px; }
            .edit_modal_container_label_image .edit_modal_image_label{
              color: #201600;
              font-family: "Museo Sans Cyrl 300";
              font-size: 16px;
              padding: 10px 16px;
              border-radius: 3px;
              border: 1px solid #201600;
              cursor: pointer;
            }
            .edit_modal_container_label_image{
              /* transform: translateY(-20px); */
              display: flex;
              align-items: flex-start;
              flex-direction: column;
            }
            .input_box_image_file > div{
              position: relative;
            }
            .input_box_image_file{
              display: flex;
              flex-direction: column;
              align-items: flex-start;
            }
            .input_box .input_file_close.active{
              opacity: 1;
              visibility: visible;
            }
            .input_box .input_file_close{
              position: absolute;
              width: 17px;
              opacity: 0;
              visibility: hidden;
              height: 17px;
              top: -5px;
              right: -5px;
              border-radius: 100%;
              border: 1px solid #fd3e88;
              padding: 2px;
              box-sizing: border-box;
              background: #fff;
              cursor: pointer;
            }
            .input_box_image_file img{
              max-width: 100px;
              margin-top: 10px;
              width: 100%;
            }
            .edit_modal_container_label_image input{
              width: 1px;
              height: 1px;
              opacity: 0;
              visibility: hidden;
              overflow: hidden;
            }
          section.settingsAdmin_section .settingAdmin_block .edit_modal_container_item:nth-child(2) {
            -webkit-box-pack: start;
            -webkit-justify-content: flex-start;
            -moz-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start; }
          section.settingsAdmin_section .settingAdmin_block .edit_modal_container_item_title {
            color: #201600;
            font-family: "Museo Sans Cyrl 500";
            font-size: 16px;
            margin-bottom: 10px; }
          section.settingsAdmin_section .settingAdmin_block .edit_modal_container_item_input {
            color: #4a4a4a;
            font-family: "Museo Sans Cyrl 300";
            font-size: 16px;
            padding: 12px 16px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border: 1px solid #979797;
            max-width: 100%;
            max-height: 50px;
            min-width: 100%;
            min-height: 50px;
            margin-bottom: 10px; }
            section.settingsAdmin_section .settingAdmin_block .edit_modal_container_item_input.input_date {
              max-height: 50px;
              min-height: 50px; }
            section.settingsAdmin_section .settingAdmin_block .edit_modal_container_item_input:last-child {
              margin-bottom: 0; }
          section.settingsAdmin_section .settingAdmin_block .edit_modal_container_item_textarea {
            max-width: 100%;
            max-height: 220px;
            min-width: 100%;
            min-height: 220px;
            color: #4a4a4a;
            font-family: "Museo Sans Cyrl 300";
            font-size: 16px;
            padding: 16px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border: 1px solid #979797; }
          section.settingsAdmin_section .settingAdmin_block .edit_modal_container_item_submit {
            color: #201600;
            font-family: "Museo Sans Cyrl 300";
            font-size: 16px;
            letter-spacing: 0.71px;
            line-height: 28px;
            padding: 11px;
            width: 100%;
            text-align: center;
            border: 1px solid #201600;
            margin-top: 14px;
            cursor: pointer;
            background: transparent; }
          section.settingsAdmin_section .settingAdmin_block .edit_modal_container_item_delete {
            color: #201600;
            font-family: "Museo Sans Cyrl 300";
            font-size: 16px;
            letter-spacing: 0.71px;
            line-height: 28px;
            width: 100%;
            text-align: center;
            display: block;
            padding: 11px;
            border: 1px solid #201600;
            margin-top: 14px;
            cursor: pointer; }
  section.settingsAdmin_section .testimonials_block {
    position: relative; }
    section.settingsAdmin_section .testimonials_block .pagination_table {
      position: absolute;
      bottom: -50px;
      right: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex; }
      section.settingsAdmin_section .testimonials_block .pagination_table_counter span {
        color: #000000;
        font-family: "Museo Sans Cyrl 500";
        font-size: 18px; }
      section.settingsAdmin_section .testimonials_block .pagination_table_arrows {
        margin-left: 50px; }
        section.settingsAdmin_section .testimonials_block .pagination_table_arrows_item {
          height: 22px;
          cursor: pointer; }
          section.settingsAdmin_section .testimonials_block .pagination_table_arrows_item.prev_arrow {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            margin-right: 30px; }
  section.settingsAdmin_section .testimonials_table {
    width: 100%;
    position: relative; }
    section.settingsAdmin_section .testimonials_table_head {
      border-bottom: 2px solid #201600; }
      section.settingsAdmin_section .testimonials_table_head th {
        color: #201600;
        font-family: "Museo Sans Cyrl 500";
        font-size: 16px;
        padding: 0 15px; }
      section.settingsAdmin_section .testimonials_table_head .testimonials_table_btn {
        color: #201600;
        font-family: "Museo Sans Cyrl 500";
        font-size: 16px;
        letter-spacing: 0.71px;
        line-height: 28px;
        border: 1px solid #201600;
        width: 176px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        width: 200px;
        margin-bottom: 10px; }
        section.settingsAdmin_section .testimonials_table_head .testimonials_table_btn button {
          width: 100%;
          padding: 11px;
          background: transparent;
          cursor: pointer; }
    section.settingsAdmin_section .testimonials_table_body {
      border-bottom: 1px solid #e7e7e7; }
      section.settingsAdmin_section .testimonials_table_body select{
        background: transparent;
      }
      section.settingsAdmin_section .testimonials_table_body .table_favic {
        max-width: 150px;
        min-width: 150px; }
        section.settingsAdmin_section .testimonials_table_body .table_favic_image {
          width: 100%; }
      section.settingsAdmin_section .testimonials_table_body td {
        padding: 0 15px;
        border-right: 1px solid #e7e7e7; }
        section.settingsAdmin_section .testimonials_table_body td:last-child {
          border-right: none; }
      section.settingsAdmin_section .testimonials_table_body .testimonials_table_box {
        width: 200px;
        padding: 0; }
        section.settingsAdmin_section .testimonials_table_body .testimonials_table_box_btn {
          width: 100%;
          padding: 0 15px;
          margin-top: 10px; }
          section.settingsAdmin_section .testimonials_table_body .testimonials_table_box_btn:last-child {
            margin-bottom: 10px; }
          section.settingsAdmin_section .testimonials_table_body .testimonials_table_box_btn button {
            color: #201600;
            font-family: "Museo Sans Cyrl 500";
            font-size: 16px;
            letter-spacing: 0.71px;
            line-height: 28px;
            border: 1px solid #201600;
            width: 100%;
            padding: 11px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            text-align: center;
            cursor: pointer;
            background: transparent; }
            section.settingsAdmin_section .testimonials_table_body .testimonials_table_box_btn button:focus {
              outline: none; }
    section.settingsAdmin_section .testimonials_table .name_table {
      min-width: 135px;
      max-width: 135px; }
    section.settingsAdmin_section .testimonials_table .name_place {
      min-width: 200px;
      max-width: 200px; }
    section.settingsAdmin_section .testimonials_table .name_comment {
      min-width: 375px;
      max-width: 375px; }
    section.settingsAdmin_section .testimonials_table .name_date {
      min-width: 141px;
      max-width: 141px; }
      .clientAdmin_section .gallery_tabs_addItem{
        color: #201600;
        font-family: "Museo Sans Cyrl 500";
        font-size: 16px;
        letter-spacing: 0.71px;
        line-height: 28px;
        border: 1px solid #201600;
        width: 176px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        width: 250px;
        margin-bottom: 30px;
      }
      .clientAdmin_section .gallery_tabs_addItem_btn{
      color: #201600;
      font-family: "Museo Sans Cyrl 500";
      font-size: 16px;
      width: 100%;
      letter-spacing: 0.71px;
      line-height: 28px;
      background-color: transparent;
      border: none;
      padding: 11px 40px;
      cursor: pointer;
      outline: none;}
      section.clientAdmin_section .testimonials_table_body td{
        padding: 10px 0;
      }
      section.clientAdmin_section .testimonials_table_body .main_picture_img{
        max-width: 200px;
      }
section.galleryAdmin_section {
  overflow: auto; }
  section.galleryAdmin_section .testimonials_block {
    position: relative; }
    section.galleryAdmin_section .testimonials_block .testimonials_table {
      /* position: absolute;
      top: 0;
      left: 0;
      right: 0;
      opacity: 0;
      visibility: hidden; */
      -webkit-transition: all .4s ease-out;
      transition: all .4s ease-out;
      /* -webkit-transform: scale(0.8);
      transform: scale(0.8); */
    }
      section.galleryAdmin_section .testimonials_block .testimonials_table.active {
        opacity: 1;
        visibility: visible;
        -webkit-transform: none;
        transform: none;
        position: static; }
  section.galleryAdmin_section .gallery_tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px; }
    section.galleryAdmin_section .gallery_tabs_item {
      color: #201600;
      font-family: "Museo Sans Cyrl 500";
      font-size: 18px;
      letter-spacing: 0.8px;
      padding-bottom: 16px;
      min-width: 200px;
      margin-right: 20px;
      -webkit-transition: all .4s ease-out;
      transition: all .4s ease-out; }
      section.galleryAdmin_section .gallery_tabs_item.active {
        border-bottom: 1px solid #979797; }
    section.galleryAdmin_section .gallery_tabs_addItem {
      border: 1px solid #201600;
      background-color: transparent;
      min-width: 211px;
      margin-right: 20px; }
      section.galleryAdmin_section .gallery_tabs_addItem_btn {
        color: #201600;
        font-family: "Museo Sans Cyrl 500";
        font-size: 16px;
        width: 100%;
        letter-spacing: 0.71px;
        line-height: 28px;
        background-color: transparent;
        border: none;
        padding: 11px 40px;
        cursor: pointer;
        outline: none; }
    section.galleryAdmin_section .gallery_tabs_search {
      padding: 11px 20px;
      border: 1px solid #201600;
      background-color: transparent;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      max-width: 411px;
      width: 100%; }
      section.galleryAdmin_section .gallery_tabs_search_btn {
        border: none;
        background: transparent;
        margin-right: 7px;
        outline: none; }
        section.galleryAdmin_section .gallery_tabs_search_btn_icon {
          cursor: pointer; }
      section.galleryAdmin_section .gallery_tabs_search_input {
        color: #201600;
        font-family: "Museo Sans Cyrl 500";
        font-size: 16px;
        letter-spacing: 0.71px;
        line-height: 28px;
        border: none; }
  section.galleryAdmin_section .testimonials_table_head th p {
    color: #201600;
    font-family: "Museo Sans Cyrl 500";
    font-size: 20px;
    margin-bottom: 11px; }
  section.galleryAdmin_section .testimonials_table_head .album_name {
    min-width: 229px;
    max-width: 229px; }
  section.galleryAdmin_section .testimonials_table_body td p {
    color: #201600;
    font-family: "Museo Sans Cyrl 300";
    font-size: 16px; }
    section.galleryAdmin_section .testimonials_table_body td p b {
      font-family: "Museo Sans Cyrl 500"; }
  section.galleryAdmin_section .testimonials_table_body .main_picture {
    min-width: 180px;
    max-width: 180px;
    padding: 0 6px; }
    section.galleryAdmin_section .testimonials_table_body .main_picture_img {
      width: 100%; }
  section.galleryAdmin_section .testimonials_table_body .all_pictures {
    min-width: 190px;
    max-width: 190px;
    padding: 0 6px; }
    section.galleryAdmin_section .testimonials_table_body .all_pictures > div {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    section.galleryAdmin_section .testimonials_table_body .all_pictures_img {
      width: 48%;
      margin-bottom: 6px; }
  section.galleryAdmin_section .testimonials_table_body .testimonials_table_box {
    min-width: 168px;
    max-width: 168px; }
    section.galleryAdmin_section .testimonials_table_body .testimonials_table_box_btn button {
      padding: 5px 11px; }
  section.galleryAdmin_section .galleryAdmin_modal {
    position: fixed;
    top: 0;
    left: 207px;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    display: none;}
    section.galleryAdmin_section .galleryAdmin_modal.active {
      opacity: 1;
      visibility: visible;
      -webkit-transition: all .4s ease-out;
      transition: all .4s ease-out; 
      z-index: 8; }
    section.galleryAdmin_section .galleryAdmin_modal_container {
      max-width: 1000px;
      width: 100%;
      margin-bottom: 50px;
      position: absolute;
      top: 15vh;
      z-index: 2;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      border: 1px solid #ff3181;
      background-color: #ffffff;
      padding: 45px 50px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      section.galleryAdmin_section .galleryAdmin_modal_container_closer {
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer; }
      section.galleryAdmin_section .galleryAdmin_modal_container_delete {
        position: absolute;
        bottom: 45px;
        right: 50px;
        max-width: 315px;
        width: 100%; }
        section.galleryAdmin_section .galleryAdmin_modal_container_delete_btn {
          color: #201600;
          font-family: "Museo Sans Cyrl 300";
          font-size: 16px;
          letter-spacing: 0.71px;
          line-height: 28px;
          padding: 11px 20px;
          border: 1px solid #201600;
          background-color: transparent;
          text-align: center;
          cursor: pointer;
          margin-top: 60px;
          width: 100%; }
      section.galleryAdmin_section .galleryAdmin_modal_container_form {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
      section.galleryAdmin_section .galleryAdmin_modal_container_btn {
        color: #201600;
        font-family: "Museo Sans Cyrl 300";
        font-size: 16px;
        letter-spacing: 0.71px;
        line-height: 28px;
        max-width: 315px;
        width: 100%;
        padding: 11px 20px;
        border: 1px solid #201600;
        background-color: transparent;
        text-align: center;
        cursor: pointer;
        margin-top: 60px; }
      section.galleryAdmin_section .galleryAdmin_modal_container_box {
        width: 47%;
        margin-bottom: 20px; }
        section.galleryAdmin_section .galleryAdmin_modal_container_box:first-child {
          width: 100%; }
        section.galleryAdmin_section .galleryAdmin_modal_container_box_title {
          color: #201600;
          font-family: "Museo Sans Cyrl 500";
          font-size: 16px;
          margin-bottom: 13px; }
        section.galleryAdmin_section .galleryAdmin_modal_container_box_input {
          color: #201600;
          font-family: "Museo Sans Cyrl 300";
          padding: 11px 16px;
          border: 1px solid #979797;
          font-size: 16px;
          width: 100%; }
      section.galleryAdmin_section .galleryAdmin_modal_container .form_tabs {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex; }
        section.galleryAdmin_section .galleryAdmin_modal_container .form_tabs_box {
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -moz-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          margin-right: 35px;
          cursor: pointer; }
          section.galleryAdmin_section .galleryAdmin_modal_container .form_tabs_box > div {
            width: 13px;
            height: 13px;
            border-radius: 100%;
            border: 1px solid #4a4a4a;
            position: relative;
            margin-right: 7px; }
          section.galleryAdmin_section .galleryAdmin_modal_container .form_tabs_box_input {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 9px;
            height: 9px;
            position: absolute;
            top: 1px;
            left: 1px;
            border-radius: 100%; }
            section.galleryAdmin_section .galleryAdmin_modal_container .form_tabs_box_input:checked {
              background-color: #ff3181; }
          section.galleryAdmin_section .galleryAdmin_modal_container .form_tabs_box_text {
            color: #201600;
            font-family: "Museo Sans Cyrl 500";
            font-size: 18px;
            letter-spacing: 0.8px; }
      section.galleryAdmin_section .galleryAdmin_modal_container .relativeBlock {
        position: relative;
        width: 100%; }
      section.galleryAdmin_section .galleryAdmin_modal_container .tabul {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        opacity: 0;
        visibility: hidden;
        -webkit-transform: scale(0.8);
        transform: scale(0.8); }
        section.galleryAdmin_section .galleryAdmin_modal_container .tabul.active {
          position: static;
          opacity: 1;
          visibility: visible;
          -webkit-transform: none;
          transform: none; }
        section.galleryAdmin_section .galleryAdmin_modal_container .tabul_text {
          color: #201600;
          font-family: "Museo Sans Cyrl 500";
          font-size: 16px;
          margin-top: 20px;
          margin-bottom: 15px; }
        section.galleryAdmin_section .galleryAdmin_modal_container .tabul_container {
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
          -moz-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start; }
          section.galleryAdmin_section .galleryAdmin_modal_container .tabul_container .add_box {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -moz-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            cursor: pointer; }
            section.galleryAdmin_section .galleryAdmin_modal_container .tabul_container .add_box_item {
              color: #9b9b9b;
              font-size: 65px;
              font-family: "Museo Sans Cyrl 100";
              margin-bottom: .5rem; }
          section.galleryAdmin_section .galleryAdmin_modal_container .tabul_container .col-6 {
            position: relative; }
          section.galleryAdmin_section .galleryAdmin_modal_container .tabul_container_item {
            width: 100%;
            background-color: #d8d8d8;
            height: 167px;
            position: relative;
            cursor: pointer; }
            section.galleryAdmin_section .galleryAdmin_modal_container .tabul_container_item_close {
              position: absolute;
              top: 10px;
              right: 25px;
              z-index: 999;
              width: 20px;
              cursor: pointer; }
            section.galleryAdmin_section .galleryAdmin_modal_container .tabul_container_item.main_image {
              border: 2px solid #ff3181; }
            section.galleryAdmin_section .galleryAdmin_modal_container .tabul_container_item::after {
              content: '+';
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              display: -webkit-box;
              display: -webkit-flex;
              display: -moz-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -webkit-align-items: center;
              -moz-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-box-pack: center;
              -webkit-justify-content: center;
              -moz-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              color: #9b9b9b;
              font-size: 65px;
              font-family: "Museo Sans Cyrl 100";
              z-index: 1; }
            section.galleryAdmin_section .galleryAdmin_modal_container .tabul_container_item_input {
              opacity: 0;
              width: 100%; }
            section.galleryAdmin_section .galleryAdmin_modal_container .tabul_container_item_image {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 2;
              -o-object-fit: cover;
              object-fit: cover; }
.clientAdmin_modal{
  position: fixed;
  top: 0;
  right: 0;
  left: 205px;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}
.clientAdmin_modal.active{
  opacity: 1;
  visibility: visible;
  transition: all .4s ease-out;
}
.clientAdmin_modal_overlay{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: .7;
  z-index: 1;
}
.clientAdmin_modal_container{
  position: absolute;
  z-index: 2;
  background: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 70px 50px;
  padding-bottom: 30px;
  max-width: 400px;
  width: 100%;
}
.clientAdmin_modal .tabul_container_item{
  width: 100%;
    background-color: #d8d8d8;
    height: 167px;
    position: relative;
    cursor: pointer;
}
.clientAdmin_modal .clientAdmin_modal_container_btn{
  color: #201600;
  font-family: "Museo Sans Cyrl 300";
  font-size: 16px;
  letter-spacing: 0.71px;
  line-height: 28px;
  width: 100%;
  padding: 11px 20px;
  border: 1px solid #201600;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  margin-top: 30px;
}
.clientAdmin_modal .clientAdmin_modal_container_btn:focus{
  outline: none;
}
.clientAdmin_modal .tabul_container_item::after{
  content: '+';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #9b9b9b;
    font-size: 65px;
    font-family: "Museo Sans Cyrl 100";
    z-index: 1;
}
.clientAdmin_modal .tabul_container_item_input{
  opacity: 0;
  width: 100%;
}
.clientAdmin_modal .tabul_container_item_input.err ~ .tabul_container_item_image{
  border: 1px solid red;
}
.clientAdmin_modal .tabul_container_item_image{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    -o-object-fit: cover;
    object-fit: cover;
}
.clientAdmin_modal_container .clients_closer{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  cursor: pointer;
}
.clientAdmin_modal_container .edit_modal_container_item_title{

}
.clientAdmin_modal_container .input_box_image_file{

}
.clientAdmin_modal_container .edit_modal_container_label_image{

}

.clientAdmin_modal_container .input_box_image_file input{

}

.clientAdmin_modal_container .edit_modal_image_label

.clientAdmin_modal_container .input_box_image_file > div{

}
.clientAdmin_modal_container .edit_modal_container_label_image_item{

}
.clientAdmin_modal_container .input_file_close{

}
.clientAdmin_modal_container .hidden_del_review_img{

}


.fl-start{
  justify-content: flex-start !important;
}
@media screen and (min-width: 1025px) {
  section.first_section .first_section_container_box {
    width: 600px;
    height: 600px;
    -webkit-transform: translateY(100px);
    transform: translateY(100px); }
  section.first_section .first_section_container {
    min-height: 60vh; }
  section.first_section .wrapper {
    min-height: 60vh; }
  section.first_section .first_section_image {
    max-height: 75%;
    right: 100px; }
  section.first_section .first_section_container_box_desc {
    font-size: 16px; } }

@media screen and (max-width: 1240px) {
  section.settingsAdmin_section .testimonials_block .pagination_table {
    right: unset;
    left: 0; }
  section.settingsAdmin_section .settingAdmin_block .edit_modal .close_edit_modal {
    right: 50%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    top: -40px; }
  section.settingsAdmin_section .settingAdmin_block .edit_modal_container {
    left: 0;
    right: 0;
    -webkit-transform: translateX(15px);
    transform: translateX(15px); } }

@media screen and (max-width: 1024px) {
  header.header .header_desc_container {
    display: none; }
  header.header .header_container.header_mob {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  header.header .header_info.header_mob {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; } }

@media screen and (max-width: 991px) {
  .hiring_container_box:nth-child(2) {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -moz-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  section.galleryAdmin_section .galleryAdmin_modal_container_btn {
    max-width: 150px; }
  section.galleryAdmin_section .galleryAdmin_modal_container_delete {
    max-width: 150px; }
  section.about_hiring .hiring_container_box_desc {
    max-width: 682px;
    width: 100%;
    text-align: center; }
  section.about_hiring .hiring_container_box_image {
    max-width: 682px;
    width: 100%;
    margin: 0 auto;
    display: block; }
  section.about_hiring .hiring_container_box_list {
    display: none; }
  section.about_hiring .hiring_container_box_list_title {
    display: none; }
  section.about_hiring .hiring_container_box_list_mob {
    padding-left: 30px;
    padding-top: 42px;
    padding-bottom: 50px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto; }
    section.about_hiring .hiring_container_box_list_mob .list_title {
      color: #4a4a4a;
      font-family: "Museo Sans Cyrl 300";
      font-size: 24px;
      margin-bottom: 15px;
      -webkit-transform: translateX(-20px);
      transform: translateX(-20px); }
    section.about_hiring .hiring_container_box_list_mob .list_item {
      color: #4a4a4a;
      font-family: "Museo Sans Cyrl 300";
      font-size: 16px;
      line-height: 21px;
      margin: 7.5px 0;
      position: relative; }
      section.about_hiring .hiring_container_box_list_mob .list_item::before {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        left: -20px;
        border-radius: 100%;
        width: 7px;
        height: 7px;
        background: #e8347e;
        content: ''; } }

@media screen and (max-width: 850px) {
  .gallery_modal_slider_box_header_title {
    font-size: 24px; }
  .gallery_modal_slider_box_header_date {
    font-size: 20px; } }

@media screen and (max-width: 800px) {
  section.galleryAdmin_section .galleryAdmin_modal {
    left: 0; } }

@media screen and (max-width: 768px) {
  section.first_section .first_section_image {
    right: -50px;
    max-height: 47%;
    z-index: 3; }
  section.faq_section .wrapper {
    max-width: unset; }
  section.services .services_container_box {
    margin-bottom: 30px; }
  section.first_section .wrapper {
    min-height: 150vh; }
  section.reviews .services_slider .arrow_slider {
    top: -103px;
    -webkit-transform: none;
    transform: none; }
    section.reviews .services_slider .arrow_slider:hover {
      -webkit-transform: none;
      transform: none; }
  section.reviews .services_slider_box_item {
    max-width: 200px; }
  section.reviews .services_slider_box_text .box_text {
    padding: 15px; }
  section.reviews .services_slider_box_text .box_text::after {
    width: 70vw; }
  section.customers .customers_container_item {
    margin-bottom: 60px; }
  .menu_container_link_box > div {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .menu_container_link_box_item {
    width: 32%; }
  .menu_container_link_box.active {
    height: 190px; }
  .menu_container_link_box.active#mob2 {
    height: 70px; }
  #servicePage {
    padding-top: 102px; }
  section.service_first .first_container_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  section.service_first .first_container_item_box {
    margin-left: 0; }
  section.aboutService .services_title {
    display: block;
    text-align: center; }
  section.aboutService .services_container .services_title {
    display: none; } }

@media screen and (max-width: 767px) {
  section.aboutService .services_title {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px; }
  .services_container_box:nth-child(2) {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -moz-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 44px; }
  .services_container_box:nth-child(1) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .services_container_box:nth-child(1) .services_container_box_text {
      width: 45%;
      margin: 0; }
  section.section_list .list_container_box {
    margin: 0 auto; }
  section.section_list .list_container_box:nth-child(1) {
    margin-bottom: 70px; } }

@media screen and (max-width: 600px) {
  section.testimonials_section .wrapper {
    padding: 0 15px; }
  section.bookOnline_section .bookOnline_title {
    font-size: 24px; }
  section.bookOnline_section .bookOnline_desc {
    font-size: 16px; }
  section.settingsAdmin_section .settingAdmin_block .edit_modal.active {
    position: fixed;
    left: 0; }
    .clientAdmin_modal{
      left: 0;
    }
  section.hiring_form.book-online_form .form_container_box_title {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start; }
  section.book-online_form .form_container_box_w100 .form_container_box_dexcription {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-transform: translate(25px, 0);
    transform: translate(25px, 0); }
  section.settingsAdmin_section .settingAdmin_block .edit_modal_container {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
    left: 0;
    right: 0; }
  section.testimonials_section .services_title_text {
    min-width: 250px; }
  header.header .header_container_logo_item_mob {
    display: block; }
  section.testimonials_section .testimonials_container_box.right_oriented {
    padding-left: 0;
    padding-right: 50px; }
  #nowHiringPage {
    padding-top: 140px; }
  section.about_hiring .hiring_container_box_title {
    font-size: 24px; }
  section.about_hiring .hiring_container_box_desc {
    font-size: 14px; }
  section.about_hiring .hiring_container_box_list_mob .list_title {
    font-size: 20px; }
  section.about_hiring .hiring_container_box_list_mob .list_item {
    font-size: 14px; }
  section.requirements .services_title_text, section.hiring_form .services_title_text {
    font-size: 24px;
    min-width: 250px; }
  section.requirements .services_desc, section.hiring_form .services_desc {
    font-size: 14px; }
  section.hiring_form .form_container_box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px; }
  section.hiring_form {
    padding-bottom: 55px; }
  section.hiring_form .form_container_box_title {
    font-size: 24px;
    padding: 0;
    padding-left: 25px; }
  section.hiring_form .form_container_box:nth-child(1) .form_container_box_title::before {
    font-size: 94px; }
  section.hiring_form .form_container_box:nth-child(2) .form_container_box_title::before {
    font-size: 94px; }
  section.service_first .first_container {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  section.service_first .first_container_item_icon {
    width: 80px; }
  section.service_first .first_container_item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  section.service_first .first_container_item_box {
    text-align: end; }
  section.service_first .first_container_item {
    width: 100%; }
  .service_first .wrapper {
    padding: 0; }
  section.section_list .list_container_box:nth-child(1) {
    border: none; }
  section.service_first .first_container_item_box .box_desc {
    max-width: 210px; }
  section.service_first .first_container_item_box .box_title {
    font-size: 24px; }
  section.service_first .first_container_item_box .box_desc {
    font-size: 14px; }
  header.header .header_container_logo_item {
    display: none; }
  header.header .header_container_logo {
    width: unset; }
  header.header .header_container_link {
    padding: 9px 12px; }
  header.header .header_info_item:first-child {
    display: none; }
  header.header .header_info {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 15px; }
  header.header .header_container {
    padding: 10px 0; }
  section.first_section .first_section_container {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 50px; }
  section.first_section .first_section_container_box_desc:last-child {
    max-width: 60%;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start; }
  section.first_section .first_section_image {
    max-width: 45%;
    max-height: unset;
    bottom: -60px; }
  section.first_section .wrapper {
    min-height: unset;
    padding-bottom: 10vw;
    overflow: hidden; }
  section.first_section .first_section_container_box {
    padding: 20px; }
  section.first_section .first_section_container_box_title {
    font-size: 24px;
    text-align: center; }
  section.first_section .first_section_container_box_desc {
    font-size: 12px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start; }
  section.first_section .first_section_container_box .circle {
    width: 550px;
    height: 550px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  section.section_list .list_container_box:nth-child(1) {
    padding: 0 0 0 40px;
    margin-bottom: 30px; }
  section.first_section .first_section_container {
    min-height: unset; }
  section.reviews .services_slider_box_text {
    padding-top: 70px; }
  section.main_slider .main_slider_container_box .wrapper {
    min-height: 400px;
    padding-top: 75px;
    padding-bottom: 64px; }
  section.main_slider .main_slider_container_box_title {
    font-size: 24px;
    max-width: 300px; }
  section.services .services_title_line, section.reviews .services_title_line, section.customers .services_title_line {
    display: none; }
  section.services .services_title, section.reviews .services_title, section.customers .services_title {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  section.reviews .services_slider_box {
    position: relative;
    padding-top: 70px; }
  section.reviews .services_slider_box_text .box_title {
    max-width: 155px;
    left: 170px;
    right: unset;
    color: #ff3181;
    text-align: left;
    top: 80px;
    z-index: 3;
    font-size: 14px; }
  section.reviews .services_slider_box_item {
    position: absolute;
    top: 50px;
    left: 0;
    max-width: 150px; }
  section.reviews .services_slider {
    padding: 0; }
  section.reviews .services_slider_box_text .box_text {
    margin-left: 50px;
    padding: 70px 15px 15px; }
  section.reviews .services_slider_box_text .box_text::after {
    width: 100%; }
  section.services .services_container_desc {
    font-size: 14px; }
  #servicePage {
    padding-top: 130px; }
  #testimonialsPage {
    padding-top: 140px; }
  section.testimonials_section .services_title_text {
    font-size: 24px; }
  section.testimonials_section .services_desc {
    font-size: 14px; }
  section.testimonials_section .testimonials_container_box_text {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px; }
  section.testimonials_section .testimonials_container_box_date {
    font-size: 14px;
    padding-left: 0;
    margin-top: 10px; }
  section.testimonials_section .testimonials_container_box.right_oriented .testimonials_container_box_date {
    padding-right: 0; }
  section.testimonials_section .testimonials_container_box.right_oriented .testimonials_container_box_text {
    padding-left: 30px;
    padding-right: 30px; }
  section.testimonials_section .testimonials_container_box.right_oriented .testimonials_container_box_title {
    padding-left: 30px;
    padding-top: 50px; }
  section.testimonials_section .testimonials_container_box.right_oriented .termonials_bubles {
    right: 110px;
    -webkit-transform: none;
    transform: none; }
  section.testimonials_section .testimonials_container_box_title {
    margin: 0;
    padding: 0 30px;
    padding-left: 100px;
    font-size: 14px;
    background: #ededed;
    padding-top: 20px; }
  section.testimonials_section .testimonials_container_box {
    padding-top: 45px;
    margin-top: 100px; }
  section.testimonials_section .testimonials_container_box .termonials_bubles {
    left: 110px;
    top: -60px;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  section.testimonials_section .testimonials_container_box_image {
    width: 157px;
    top: -30px;
    left: -25px;
    line-break: 50px;
    -webkit-transform: none;
    transform: none; }
  section.book-online_form .form_container_box {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; } }

@media screen and (max-width: 700px) {
  .gallery_modal_slider_box {
    padding: 40px 70px; }
  .gallery_modal_slider_box_header_date {
    font-size: 16px; }
    .gallery_modal_slider_box_header_date b {
      font-size: 16px; }
  .gallery_modal_slider_box_header_title {
    font-size: 20px; }
  section.galleryBlock .gallery_container_box_name {
    font-size: 18px; } }

@media screen and (max-width: 575px) {
  footer.footer .footer_container_item {
    border: none; }
    footer.footer .footer_container_item:nth-child(2) {
      -webkit-box-ordinal-group: 0;
      -webkit-order: -1;
      -moz-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
      margin-bottom: 20px; }
  section.galleryAdmin_section .galleryAdmin_modal_container_box {
    width: 100%; }
  section.galleryAdmin_section .galleryAdmin_modal_container .form_tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  header.header .header_container_link {
    padding: 7px 17px; }
  section.section_list .list_container_box_btn {
    margin: 0 auto;
    margin-top: 40px; }
  section.galleryBlock .gallery_container_box_mob {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  section.aboutService .services_title {
    font-size: 24px; }
  .services_container_box:nth-child(2) {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -moz-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 44px; }
  .services_container_box:nth-child(1) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .services_container_box:nth-child(1) .services_container_box_text {
      width: 100%;
      margin: 0; } }

@media screen and (max-width: 550px) {
  .gallery_modal_slider_box_header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .gallery_modal_slider_box_header_title {
    margin-bottom: 30px; } }

@media screen and (max-width: 500px) {
  .modal_report_container {
    padding-top: 20px;
    padding-bottom: 20px; }
  .modal_report_container_title {
    font-size: 18px; }
  .modal_report_container_text {
    font-size: 14px; }
  .modal_report_container_input {
    font-size: 14px;
    margin-bottom: 15px; }
  .modal_report_container_textarea {
    min-width: unset;
    width: 100%;
    font-size: 14px;
    margin-bottom: 15px;
    min-height: 150px;
    max-height: 150px; }
  .modal_report_container_btn {
    font-size: 16px; }
  section.reviews .services_slider .arrow_slider svg {
    width: 12px; }
  section.faq_section .faq_title {
    font-size: 24px; }
  section.faq_section .faq_desc {
    font-size: 14px; }
  section.faq_section .faq_container_title {
    font-size: 24px; }
  section.faq_section .faq_container_text {
    font-size: 14px; }
  section.faq_section .faq_container_title::after {
    width: 174px; }
  section.reviews .services_slider .arrow_slider {
    top: -78px; }
  section.first_section .wrapper {
    padding-bottom: 0; }
  section.services .services_title_text, section.reviews .services_title_text, section.customers .services_title_text {
    font-size: 24px;
    padding: 0 50px; }
  section.services .services_desc, section.reviews .services_desc, section.customers .services_desc {
    font-size: 14px; }
  section.first_section .first_section_container_box {
    height: 480px; }
  section.first_section .first_section_container_box_desc:last-child {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9; }
  .menu_container_link_box_item {
    width: 50%; }
  .menu_container_link_box.active {
    height: 290px; }
  .menu_container_link_box.active#mob2 {
    height: 70px; } }

@media screen and (max-width: 425px) {
  .gallery_modal_slider_box {
    padding: 40px; }
  .gallery_modal_slider .arrow_slider_item.right {
    right: -40px; }
  .gallery_modal_slider .arrow_slider_item.left {
    left: -40px; }
  section.galleryAdmin_section .galleryAdmin_modal_container_btn {
    width: 100px; }
  section.galleryAdmin_section .galleryAdmin_modal_container_delete {
    width: 100px; } }

@media screen and (max-width: 375px) {
  section.services .services_container_title {
    font-size: 16px; } }

.err {
  border-block-end-width: 2px;
  border-bottom-color: red !important; }
