@charset "UTF-8";
@font-face {
  font-family: "Museo Sans Cyrl 100";
  src: url("../fonts/MuseoSansCyrl-100.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Museo Sans Cyrl 300";
  src: url("../fonts/MuseoSansCyrl-300.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Museo Sans Cyrl 500";
  src: url("../fonts/MuseoSansCyrl-500.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Museo Sans Cyrl 700";
  src: url("../fonts/MuseoSansCyrl-700.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Fira Sans Light";
  src: url("../fonts/FiraSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Fira Sans Medium";
  src: url("../fonts/FiraSansMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Fira Sans Bold";
  src: url("../fonts/FiraSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

* {
  outline: none; }

a {
  cursor: pointer; }
  a:hover {
    text-decoration: none !important; }

html,
body {
  font-family: "Museo Sans Cyrl 500", "Tahoma";
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
div,
p {
  margin: 0;
  padding: 0;
  font-family: "Museo Sans Cyrl 500", "Tahoma";
  font-size: 14px;
  color: #000;
  font-weight: normal;
  list-style: none;
  text-decoration: none; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  button:focus{
    outline: none;
  }
header.header {
  padding: 0 30px;
  background: transparent;
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99999; }
  header.header.active {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99999;
    background: #ededed; }
  header.header .header_container {
    padding: 22px 0;
    border-bottom: 1px solid #979797;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%; }
    header.header .header_container.header_mob {
      display: none; }
    header.header .header_container_logo {
      max-width: 119px;
      width: 100%; }
      header.header .header_container_logo_item {
        width: 100%; }
        header.header .header_container_logo_item_mob {
          display: none; }
    header.header .header_container_link {
      color: #ffffff;
      font-family: "Museo Sans Cyrl 500";
      font-size: 18px;
      padding: 15px 40px;
      background-color: #ff3181; }
    header.header .header_container_menu {
      width: 36px;
      height: 30px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-transition: .3s ease-out;
      transition: .3s ease-out;
      cursor: pointer; }
      header.header .header_container_menu.active {
        height: 27px; }
        header.header .header_container_menu.active .header_container_menu_item:nth-child(1) {
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          -webkit-transform-origin: left top;
          transform-origin: left top; }
        header.header .header_container_menu.active .header_container_menu_item:nth-child(2) {
          opacity: 0; }
        header.header .header_container_menu.active .header_container_menu_item:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          -webkit-transform-origin: left bottom;
          transform-origin: left bottom; }
      header.header .header_container_menu_item {
        width: 100%;
        height: 3px;
        border-radius: 2px;
        -webkit-transition: .3s ease-out;
        transition: .3s ease-out;
        background-color: #ff3181; }
  header.header .header_info {
    padding: 20px 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    header.header .header_info.header_mob {
      display: none; }
    header.header .header_info_item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      header.header .header_info_item_icon {
        margin-right: 5px;
        width: 27px; }
      header.header .header_info_item_text {
        color: #ffacc9;
        font-family: "Museo Sans Cyrl 500";
        font-size: 20px; }
  header.header .header_desc_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 30px;
    border-bottom: 1px solid #979797; }
    header.header .header_desc_container_logo {
      max-width: 171px;
      width: 100%; }
      header.header .header_desc_container_logo_item {
        width: 100%; }
        header.header .header_desc_container_logo_item_mob {
          display: none; }
    header.header .header_desc_container_box {
      max-width: 900px;
      width: 100%; }
      header.header .header_desc_container_box_row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        header.header .header_desc_container_box_row:last-child {
          position: relative; }
        header.header .header_desc_container_box_row .header_container_link_box {
          position: absolute;
          top: 100%;
          right: 0;
          max-width: 825px;
          width: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -moz-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
          justify-content: space-around;
          border: 1px solid #ff3181;
          background-color: #ffffff;
          opacity: 0;
          visibility: hidden;
          padding: 27px 50px; }
          header.header .header_desc_container_box_row .header_container_link_box.active {
            -webkit-transition: all .4s ease-out;
            transition: all .4s ease-out;
            opacity: .9;
            visibility: visible; }
          header.header .header_desc_container_box_row .header_container_link_box_item {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -moz-box-orient: vertical;
            -moz-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column; }
            header.header .header_desc_container_box_row .header_container_link_box_item .item_link {
              color: #4a4a4a;
              font-family: "Museo Sans Cyrl 300";
              font-size: 12px;
              margin: 9px 0;
              text-align: center; }
        header.header .header_desc_container_box_row_link {
          padding: 16px 5px;
          margin-top: 5px;
          padding-bottom: 16px;
          color: #4a4a4a;
          font-family: "Museo Sans Cyrl 300";
          font-size: 16px; }
          header.header .header_desc_container_box_row_link.active {
            border-bottom: 2px solid #ff3181; }

section.first_section .wrapper {
  position: relative;
  min-height: 100vh;
  padding-top: 120px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

section.first_section .first_section_container {
  min-height: 90vh;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  section.first_section .first_section_container_box {
    width: 520px;
    height: 520px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    z-index: 2;
    padding: 50px 50px 90px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    section.first_section .first_section_container_box .circle {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 1;
      -webkit-box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.23);
      box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.23);
      background-color: #ffc5d9;
      border-radius: 100%; }
    section.first_section .first_section_container_box_title {
      max-width: 262px;
      color: #ffffff;
      font-family: "Museo Sans Cyrl 500";
      font-size: 30px;
      line-height: 33px;
      position: relative;
      z-index: 2;
      margin-bottom: 26px; }
    section.first_section .first_section_container_box_desc {
      max-width: 374px;
      color: #4a4a4a;
      font-family: "Museo Sans Cyrl 100";
      font-size: 14px;
      position: relative;
      z-index: 2; }

section.first_section .first_section_image {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  max-height: 70%; }

section.main_slider .main_slider_container_box .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 700px;
  padding-top: 20vh;
  padding-bottom: 15vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

section.main_slider .main_slider_container_box_title {
  width: 100%;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  text-align: end;
  max-width: 486px;
  color: #ff3181;
  font-family: "Museo Sans Cyrl 700";
  font-size: 42px; }

section.main_slider .main_slider_container_box_link {
  color: #ffffff;
  font-family: "Museo Sans Cyrl 500";
  font-size: 18px;
  padding: 14px 70px;
  border: 3px solid #ffffff;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center; }

section.main_slider .main_slider_container .slick-dots {
  bottom: 30px; }

section.main_slider .main_slider_container .slick-dots li button:before {
  color: transparent;
  border: 2px solid #ffffff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  opacity: 1;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out; }

section.main_slider .main_slider_container .slick-dots li.slick-active button:before {
  opacity: 1;
  background: #fff; }

section.main_slider .slick-dotted.slick-slider {
  margin-bottom: 0; }

section.services {
  padding: 36px 0 100px;
  background: url("../../images/bubles_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  section.services .services_title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    section.services .services_title_line {
      width: 100%;
      height: 1px;
      background-color: #979797; }
    section.services .services_title_text {
      min-width: 500px;
      text-align: center;
      color: #ff3181;
      font-family: "Museo Sans Cyrl 500";
      font-size: 42px; }
  section.services .services_desc {
    color: #3b3b3b;
    font-family: "Museo Sans Cyrl 300";
    text-align: center;
    font-size: 18px;
    max-width: 536px;
    margin: 0 auto; }
  section.services .services_container {
    padding-top: 25px; }
    section.services .services_container_box {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    section.services .services_container_title {
      color: #ff3181;
      font-family: "Museo Sans Cyrl 500";
      font-size: 20px;
      text-transform: uppercase;
      margin-bottom: 20px; }
    section.services .services_container_image {
      max-width: 180px;
      width: 100%;
      margin-bottom: 17px; }
    section.services .services_container_desc {
      max-width: 292px;
      color: #3b3b3b;
      font-family: "Museo Sans Cyrl 300";
      font-size: 16px;
      text-align: center; }

section.reviews {
  position: relative;
  padding: 36px 0;
  background: url("../../images/bubles_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center; }
  section.reviews .wrapper {
    position: relative; }
  section.reviews .buble_box {
    position: absolute;
    top: 20%;
    left: 0;
    z-index: 22; }
  section.reviews .overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 70%;
    background-color: #ffc5d9;
    z-index: 1; }
  section.reviews .services_title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 2; }
    section.reviews .services_title_line {
      width: 100%;
      height: 1px;
      background-color: #fff; }
    section.reviews .services_title_text {
      min-width: 500px;
      text-align: center;
      color: #fff;
      font-family: "Museo Sans Cyrl 500";
      font-size: 42px; }
  section.reviews .services_desc {
    color: #3b3b3b;
    font-family: "Museo Sans Cyrl 300";
    text-align: center;
    font-size: 18px;
    max-width: 536px;
    margin: 0 auto;
    z-index: 2;
    position: relative; }
  section.reviews .services_slider {
    position: relative;
    z-index: 2;
    padding: 0 50px;
    padding-top: 20px; }
    section.reviews .services_slider .arrow_slider {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-transition: all .3s ease-out;
      transition: all .3s ease-out;
      cursor: pointer; }
      section.reviews .services_slider .arrow_slider:hover {
        -webkit-transform: translateY(-50%) scale(1.1);
        transform: translateY(-50%) scale(1.1); }
      section.reviews .services_slider .arrow_slider.left {
        left: 0; }
        section.reviews .services_slider .arrow_slider.left svg {
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }
      section.reviews .services_slider .arrow_slider.right {
        right: 0; }
    section.reviews .services_slider_box {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      section.reviews .services_slider_box_item {
        position: relative;
        z-index: 6;
        max-width: 250px;
        width: 100%;
        height: 250px;
        border-radius: 100%; }
        section.reviews .services_slider_box_item_image {
          height: 100%;
          object-fit: cover;
          border-radius: 100%; 
          width: 100%; }
      section.reviews .services_slider_box_text {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: relative;
        padding: 45px 0 35px;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        z-index: 2; }
        section.reviews .services_slider_box_text .box_title {
          position: absolute;
          top: 0;
          left: 0;
          /* right: 0; */
          max-width: 599px;
          width: 100%;
          text-align: right;
          color: #ffffff;
          font-family: "Museo Sans Cyrl 500";
          font-size: 18px;
          z-index: 2; }
        section.reviews .services_slider_box_text .box_text {
          color: #4a4a4a;
          font-family: "Museo Sans Cyrl 100";
          font-size: 16px;
          line-height: 20px;
          max-width: 599px;
          position: relative;
          z-index: 2;
          padding: 30px 50px;
          width: 100%;
          text-align: right; }
          section.reviews .services_slider_box_text .box_text::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 46vw;
            background: #ededed;
            z-index: -1; }

section.customers {
  padding: 36px 0 75px;
  background: url("../../images/bubles_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center; }
  section.customers .services_title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    section.customers .services_title_line {
      width: 100%;
      height: 1px;
      background-color: #979797; }
    section.customers .services_title_text {
      min-width: 500px;
      text-align: center;
      color: #ff3181;
      font-family: "Museo Sans Cyrl 500";
      font-size: 42px; }
  section.customers .services_desc {
    color: #3b3b3b;
    font-family: "Museo Sans Cyrl 300";
    text-align: center;
    font-size: 18px;
    max-width: 536px;
    margin: 0 auto; }
  section.customers .customers_container {
    padding-top: 45px; }
    section.customers .customers_container_item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      section.customers .customers_container_item_image {
        max-width: 190px; }

.menu_container {
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
  height: 100%;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  background: #fff;
  z-index: 99;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
  }
  .menu_container .menu_box {
    padding-top: 170px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    overflow: auto; }
  .menu_container.active {
    -webkit-transform: none;
    transform: none;
    background: #ededed; }
  .menu_container_list {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    display: block;
    max-width: 1200px;
    width: 100%; }
  .menu_container_link {
    color: #4a4a4a !important;
    font-family: "Museo Sans Cyrl 500";
    font-size: 24px;
    display: block;
    text-align: center;
    margin-top: 5vh; }
    .menu_container_link.active .menu_container_link_icon {
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg); }
    .menu_container_link_icon {
      width: 24px;
      -webkit-transition: all .4s ease-out;
      transition: all .4s ease-out; }
    .menu_container_link:hover {
      color: #4a4a4a; }
    .menu_container_link_box {
      width: 100%;
      background: #fff;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      overflow: hidden;
      height: 0;
      -webkit-transition: .4s ease-out;
      transition: .4s ease-out; }
      .menu_container_link_box > div {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        padding: 16px 5vw;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around; }
      .menu_container_link_box.active {
        border: 1px solid #ff3181;
        position: static;
        height: 130px;
        overflow: visible; }
        .menu_container_link_box.active#mob2 {
          height: 70px; }
      .menu_container_link_box_item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        width: 20%;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        .menu_container_link_box_item .item_link {
          color: #4a4a4a;
          font-family: "Museo Sans Cyrl 300";
          font-size: 14px;
          text-align: center; }
  .menu_container_footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -moz-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    .menu_container_footer_text {
      color: #9b9b9b;
      font-family: "Museo Sans Cyrl 300";
      font-size: 15px;
      text-align: center; }

.modal_report {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999;
  opacity: 0;
  visibility: hidden;
  }
  .modal_report .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7); }
  .modal_report.active {
    opacity: 1;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
    visibility: visible; }
  .modal_report .close_report_btn {
    position: absolute;
    top: -30px;
    right: -30px;
    cursor: pointer;
    z-index: 3;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .modal_report_container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    max-width: 540px;
    width: 100%;
    border: 2px solid #ff3181;
    background-color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 3;
    padding: 65px 15px; }
    .modal_report_container_title {
      max-width: 350px;
      width: 100%;
      color: #ff3181;
      font-family: "Museo Sans Cyrl 500";
      font-size: 24px;
      text-align: center;
      margin-bottom: 10px; }
    .modal_report_container_text {
      max-width: 350px;
      width: 100%;
      color: #4a4a4a;
      font-family: "Museo Sans Cyrl 100";
      font-size: 16px;
      line-height: 21px;
      text-align: center;
      margin-bottom: 20px; }
    .modal_report_container_input {
      max-width: 350px;
      width: 100%;
      padding: 9px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid #979797;
      color: #4a4a4a;
      font-family: "Museo Sans Cyrl 100";
      font-size: 18px;
      margin-bottom: 26px;
      -webkit-transition: all .4s ease-out;
      transition: all .4s ease-out; }
      .modal_report_container_input.err {
        border-bottom: 2px solid red; }
    .modal_report_container_textarea {
      max-width: 350px;
      width: 100%;
      padding: 9px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid #979797;
      color: #4a4a4a;
      font-family: "Museo Sans Cyrl 100";
      font-size: 18px;
      max-width: 350px;
      max-height: 208px;
      min-width: 350px;
      min-height: 208px;
      margin-bottom: 35px;
      -webkit-transition: all .4s ease-out;
      transition: all .4s ease-out; }
      .modal_report_container_textarea.err {
        border-bottom: 2px solid red; }
    .modal_report_container_btn {
      max-width: 350px;
      width: 100%;
      background-color: #ff3181;
      color: #ffffff;
      font-family: "Museo Sans Cyrl 100";
      font-size: 18px;
      padding: 9px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      text-align: center;
      border: none;
      cursor: pointer; }
/* ---- */
.modal_comment {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999999;
  opacity: 0;
  visibility: hidden;
  }
  .modal_comment .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7); }
  .modal_comment.active {
    opacity: 1;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
    visibility: visible; }
  .modal_comment .close_comment_btn {
    position: absolute;
    top: -30px;
    right: -30px;
    cursor: pointer;
    z-index: 3;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .modal_comment_container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    max-width: 540px;
    width: 100%;
    border: 2px solid #ff3181;
    background-color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 3;
    padding: 65px 15px; }
    .modal_comment_container_title {
      max-width: 350px;
      width: 100%;
      color: #ff3181;
      font-family: "Museo Sans Cyrl 500";
      font-size: 24px;
      text-align: center;
      margin-bottom: 10px; }
    .modal_comment_container_text {
      max-width: 350px;
      width: 100%;
      color: #4a4a4a;
      font-family: "Museo Sans Cyrl 100";
      font-size: 16px;
      line-height: 21px;
      text-align: center;
      margin-bottom: 20px; }
    .modal_comment_container_input {
      max-width: 350px;
      width: 100%;
      padding: 9px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid #979797;
      color: #4a4a4a;
      font-family: "Museo Sans Cyrl 100";
      font-size: 18px;
      margin-bottom: 26px;
      -webkit-transition: all .4s ease-out;
      transition: all .4s ease-out; }
      .modal_comment_container_input.err {
        border-bottom: 2px solid red; }
    .modal_comment_container_textarea {
      max-width: 350px;
      width: 100%;
      padding: 9px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid #979797;
      color: #4a4a4a;
      font-family: "Museo Sans Cyrl 100";
      font-size: 18px;
      max-width: 350px;
      max-height: 208px;
      min-width: 350px;
      min-height: 208px;
      margin-bottom: 35px;
      -webkit-transition: all .4s ease-out;
      transition: all .4s ease-out; }
      .modal_comment_container_textarea.err {
        border-bottom: 2px solid red; }
    .modal_comment_container_btn {
      max-width: 350px;
      width: 100%;
      background-color: #ff3181;
      color: #ffffff;
      font-family: "Museo Sans Cyrl 100";
      font-size: 18px;
      padding: 9px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      text-align: center;
      border: none;
      cursor: pointer; }

footer.footer {
  background-color: #ededed; }
  footer.footer .footer_container {
    padding: 50px 0; }
    footer.footer .footer_container_item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-right: 2px solid #ffffff;
      padding: 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      footer.footer .footer_container_item:last-child {
        border-right: none; }
      footer.footer .footer_container_item.nav_footer {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -moz-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding-left: 5vw;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
      footer.footer .footer_container_item_logo {
        max-width: 180px;
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex; }
        footer.footer .footer_container_item_logo .logo_image {
          width: 100%;
          height: 74px; }
      footer.footer .footer_container_item_social {
        margin-top: 66px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        max-width: 120px; }
        footer.footer .footer_container_item_social_title {
          width: 100%;
          text-align: center;
          color: #9b9b9b;
          font-family: "Museo Sans Cyrl 300";
          font-size: 20px;
          margin-bottom: 20px; }
      footer.footer .footer_container_item_text {
        color: #9b9b9b;
        font-family: "Museo Sans Cyrl 300";
        font-size: 20px; }
      footer.footer .footer_container_item_tel {
        margin-top: 20px;
        margin-bottom: 18px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        footer.footer .footer_container_item_tel .tel_icon {
          margin-right: 11px;
          width: 29px; }
        footer.footer .footer_container_item_tel .tel_text {
          color: #ff3181;
          font-family: "Museo Sans Cyrl 500";
          font-size: 28px; }
      footer.footer .footer_container_item_link {
        color: #ffffff;
        font-family: "Museo Sans Cyrl 500";
        font-size: 18px;
        padding: 15px 40px;
        background-color: #ff3181;
        margin-top: 40px; }
        footer.footer .footer_container_item_link.report_mistake {
          max-width: 220px;
          width: 100%;
          border: 2px solid #ff3181;
          color: #9b9b9b;
          font-family: "Museo Sans Cyrl 300";
          font-size: 14px;
          line-height: 16px;
          padding: 9px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          text-align: center;
          background: transparent; }
      footer.footer .footer_container_item_nav {
        color: #9b9b9b;
        font-family: "Museo Sans Cyrl 300";
        font-size: 16px;
        min-width: 100px; }
  footer.footer .footer_copyright {
    color: #9b9b9b;
    font-family: "Museo Sans Cyrl 300";
    font-size: 15px;
    padding: 15px;
    width: 100%;
    text-align: center;
    background: #fff; }

section.hiring_form .form_container_box_input {
  height: 47px; }

main#servicesPage {
  padding-top: 172px; }
  main#servicesPage section.services {
    background: transparent; }

section.aboutService {
  padding: 15px 0 50px; }
  section.aboutService .services_title {
    color: #e8347e;
    font-family: "Museo Sans Cyrl 500";
    font-size: 36px;
    text-align: left;
    margin-bottom: 40px;
    display: none; }
  section.aboutService .services_container {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    section.aboutService .services_container .services_title {
      display: inline-block; }
    section.aboutService .services_container_box_text {
      color: #4a4a4a;
      font-family: "Museo Sans Cyrl 100";
      font-size: 16px;
      line-height: 21px;
      margin-right: 30px; }
    section.aboutService .services_container_box_image {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }

section.servicesList .services_container_box {
  margin-bottom: 58px; }

section.servicesList .services_container {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center; }

#galleryPage {
  padding-top: 172px; }

section.galleryBlock .galleryBlock_more {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 25px;
  cursor: pointer; }
  section.galleryBlock .galleryBlock_more.active .galleryBlock_more_arrow {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg); }
  section.galleryBlock .galleryBlock_more_text {
    color: #ff3181;
    font-family: "Museo Sans Cyrl 300";
    font-size: 18px;
    margin-bottom: 3px; }
  section.galleryBlock .galleryBlock_more_arrow {
    width: 18px;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out; }

section.galleryBlock .galleryBlock_title {
  color: #e8347e;
  font-family: "Museo Sans Cyrl 500";
  font-size: 42px;
  text-align: center; }

section.galleryBlock .galleryBlock_desc {
  color: #4a4a4a;
  font-family: "Museo Sans Cyrl 300";
  font-size: 24px;
  text-align: center;
  margin-bottom: 25px; }

section.galleryBlock .more_section {
  height: auto;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out; }
  section.galleryBlock .more_section.hidden {
    height: 0;
    overflow: hidden; }

section.galleryBlock .gallery_container {
  padding-bottom: 10px; }
  section.galleryBlock .gallery_container_box {
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    section.galleryBlock .gallery_container_box > div {
      position: relative;
      cursor: pointer; }
      section.galleryBlock .gallery_container_box > div:hover::after {
        opacity: 1;
        visibility: visible; }
      section.galleryBlock .gallery_container_box > div::after {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        content: 'VIEW ALBUM';
        background-color: rgba(0, 0, 0, 0.4);
        color: #ffffff;
        font-family: "Museo Sans Cyrl 300";
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 24px;
        text-transform: uppercase;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all .4s ease-out;
        transition: all .4s ease-out; }
    section.galleryBlock .gallery_container_box_name {
      color: #4a4a4a;
      font-family: "Museo Sans Cyrl 300";
      text-align: center;
      font-size: 24px; }
      section.galleryBlock .gallery_container_box_name b {
        /* Text style for "Сleaning b" */
        font-family: "Museo Sans Cyrl 500"; }
    section.galleryBlock .gallery_container_box_mob {
      width: 100%;
      display: none;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 7px; }
      section.galleryBlock .gallery_container_box_mob_item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        section.galleryBlock .gallery_container_box_mob_item .box_mob_left {
          color: #ff3181;
          font-family: "Museo Sans Cyrl 300";
          font-size: 14px;
          margin-right: 5px; }
        section.galleryBlock .gallery_container_box_mob_item .box_mob_right {
          color: #4a4a4a;
          font-family: "Museo Sans Cyrl 300";
          font-size: 14px; }
    section.galleryBlock .gallery_container_box_image {
      width: 100%; }

.gallery_modal {
  position: fixed;
  z-index: 99999999999;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
   }
  .gallery_modal.active {
    opacity: 1;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
    visibility: visible; }
  .gallery_modal_slider {
    position: absolute;
    max-width: 1100px;
    width: 100%;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border: 2px solid #ff3181;
    margin-bottom: 50px; }
    .gallery_modal_slider .close_gallery_btn {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer; }
    .gallery_modal_slider .arrow_slider_item {
      width: 36px;
      height: 43px;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      cursor: pointer;
      z-index: 5; }
      .gallery_modal_slider .arrow_slider_item.left {
        left: -60px;
        -webkit-transform: translateY(-50%) rotate(180deg);
        transform: translateY(-50%) rotate(180deg); }
      .gallery_modal_slider .arrow_slider_item.right {
        right: -60px; }
    .gallery_modal_slider_box {
      background: #fff;
      padding: 40px 95px; }
      .gallery_modal_slider_box_header {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%; }
        .gallery_modal_slider_box_header_title {
          color: #4a4a4a;
          font-family: "Museo Sans Cyrl 300";
          font-size: 32px; }
          .gallery_modal_slider_box_header_title b {
            /* Text style for "Сleaning b" */
            font-family: "Museo Sans Cyrl 500"; }
        .gallery_modal_slider_box_header_date {
          color: #4a4a4a;
          font-family: "Museo Sans Cyrl 300";
          font-size: 24px; }
          .gallery_modal_slider_box_header_date b {
            color: #ff3181;
            font-family: "Museo Sans Cyrl 300";
            font-size: 24px; }
      .gallery_modal_slider_box .slider_big {
        width: 100%;
        margin-top: 33px; }
        .gallery_modal_slider_box .slider_big .slick-dots {
          bottom: 25px; }
        .gallery_modal_slider_box .slider_big .slick-dots li {
          width: 9px;
          height: 9px;
          border: 2px solid #fff;
          -webkit-transition: all .4s ease-out;
          transition: all .4s ease-out;
          border-radius: 100%; }
          .gallery_modal_slider_box .slider_big .slick-dots li.slick-active {
            background-color: #ff3181; }
        .gallery_modal_slider_box .slider_big .slick-dots li button:before {
          color: transparent; }
        .gallery_modal_slider_box .slider_big .slider {
          width: 100%; }
          .gallery_modal_slider_box .slider_big .slider .slide {
            width: 100%; }
        .gallery_modal_slider_box .slider_big_image {
          width: 100%; }
      .gallery_modal_slider_box .slider_small {
        margin-top: 55px; }
        .gallery_modal_slider_box .slider_small_image {
          width: 90%;
          display: block;
          margin: 0 auto;
          cursor: pointer; }

#faqPage {
  padding-top: 172px; }

section.faq_section .wrapper {
  max-width: 600px; }

section.faq_section .faq_title {
  color: #e8347e;
  font-family: "Museo Sans Cyrl 500";
  font-size: 42px;
  text-transform: uppercase;
  text-align: center; }

section.faq_section .faq_desc {
  color: #4a4a4a;
  font-family: "Museo Sans Cyrl 300";
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px; }

section.faq_section .faq_container {
  padding: 20px 0; }
  section.faq_section .faq_container_title {
    color: #e8347e;
    font-family: "Museo Sans Cyrl 500";
    font-size: 32px;
    line-height: 35px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative; }
    section.faq_section .faq_container_title::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 349px;
      height: 1px;
      background: #979797; }
  section.faq_section .faq_container_text {
    color: #4a4a4a;
    font-family: "Museo Sans Cyrl 300";
    font-size: 18px;
    line-height: 26px; }

#servicePage {
  padding-top: 172px; }

section.service_first .first_container {
  min-height: 500px;
  background-image: url("../../images/service_woomen.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -moz-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 20px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  section.service_first .first_container_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    section.service_first .first_container_item_icon {
      width: 120px; }
    section.service_first .first_container_item_box {
      margin-left: 20px; }
      section.service_first .first_container_item_box .box_title {
        color: #e8347e;
        font-family: "Museo Sans Cyrl 500";
        font-size: 42px; }
      section.service_first .first_container_item_box .box_desc {
        color: #4a4a4a;
        font-family: "Museo Sans Cyrl 300";
        max-width: 410px;
        font-size: 20px; }

section.section_list .list_container {
  padding: 30px 0 56px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  section.section_list .list_container_box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    section.section_list .list_container_box:nth-child(1) {
      border: 1px solid #979797;
      padding: 15px 35px 15px 90px; }
    section.section_list .list_container_box_item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      section.section_list .list_container_box_item li {
        color: #4a4a4a;
        font-family: "Museo Sans Cyrl 300";
        font-size: 16px;
        line-height: 21px;
        margin: 15px 0;
        position: relative; }
        section.section_list .list_container_box_item li::before {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          left: -20px;
          content: '';
          background: #ff3181;
          border-radius: 100%;
          width: 7px;
          height: 7px; }
    section.section_list .list_container_box_text {
      color: #4a4a4a;
      font-family: "Museo Sans Cyrl 100";
      font-size: 16px;
      line-height: 21px; }
    section.section_list .list_container_box_btn {
      color: #ffffff;
      font-family: "Museo Sans Cyrl 500";
      font-size: 18px;
      padding: 14px 35px;
      background-color: #ff3181;
      margin-top: 40px; }

#nowHiringPage {
  padding-top: 172px; }

section.about_hiring {
  position: relative; }
  section.about_hiring .shadow_box {
    position: absolute;
    bottom: -5px;
    z-index: 2;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0 -5px 22px rgba(0, 0, 0, 0.16);
    box-shadow: 0 -5px 22px rgba(0, 0, 0, 0.16);
    height: 5px;
    display: none; }
  section.about_hiring .hiring_container_box_list_mob {
    display: none; }
  section.about_hiring .hiring_container_box_image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: bottom center;
    object-position: bottom center;
    position: relative;
    z-index: -1; }
  section.about_hiring .hiring_container_box_title {
    color: #e8347e;
    font-family: "Museo Sans Cyrl 500";
    font-size: 42px;
    margin-bottom: 20px; }
  section.about_hiring .hiring_container_box_desc {
    color: #4a4a4a;
    font-family: "Museo Sans Cyrl 100";
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 20px; }
  section.about_hiring .hiring_container_box_list_title {
    color: #4a4a4a;
    font-family: "Museo Sans Cyrl 300";
    font-size: 24px;
    margin-bottom: 15px; }
  section.about_hiring .hiring_container_box_list {
    padding-left: 30px; }
    section.about_hiring .hiring_container_box_list .list_item {
      color: #4a4a4a;
      font-family: "Museo Sans Cyrl 300";
      font-size: 16px;
      line-height: 21px;
      margin: 7.5px 0;
      position: relative; }
      section.about_hiring .hiring_container_box_list .list_item::before {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        left: -20px;
        border-radius: 100%;
        width: 7px;
        height: 7px;
        background: #e8347e;
        content: ''; }

section.requirements {
  padding: 50px 0;
  -webkit-box-shadow: 0 -5px 22px rgba(0, 0, 0, 0.16);
  box-shadow: 0 -5px 22px rgba(0, 0, 0, 0.16); }
  section.requirements .services_title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    section.requirements .services_title_line {
      width: 100%;
      height: 1px;
      background-color: #979797; }
    section.requirements .services_title_text {
      min-width: 500px;
      text-align: center;
      color: #ff3181;
      font-family: "Museo Sans Cyrl 500";
      font-size: 42px; }
  section.requirements .services_desc {
    color: #3b3b3b;
    font-family: "Museo Sans Cyrl 300";
    text-align: center;
    font-size: 24px;
    max-width: 536px;
    margin: 0 auto; }
  section.requirements .require_container {
    padding-top: 50px; }
    section.requirements .require_container_box_list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: left;
      padding-left: 30px; }
      section.requirements .require_container_box_list .list_item {
        color: #4a4a4a;
        font-family: "Museo Sans Cyrl 300";
        font-size: 16px;
        line-height: 21px;
        margin: 7.5px 0;
        position: relative;
        max-width: 445px;
        width: 100%; }
        section.requirements .require_container_box_list .list_item::before {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          left: -20px;
          border-radius: 100%;
          width: 7px;
          height: 7px;
          background: #e8347e;
          content: ''; }

section.hiring_form {
  padding-bottom: 140px; }
  section.hiring_form .services_title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    section.hiring_form .services_title_line {
      width: 100%;
      height: 1px;
      background-color: #979797; }
    section.hiring_form .services_title_text {
      min-width: 500px;
      text-align: center;
      color: #ff3181;
      font-family: "Museo Sans Cyrl 500";
      font-size: 42px; }
  section.hiring_form .services_desc {
    color: #3b3b3b;
    font-family: "Museo Sans Cyrl 300";
    text-align: center;
    font-size: 24px;
    max-width: 536px;
    margin: 0 auto; }
  section.hiring_form .form_container {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding-top: 60px; }
    section.hiring_form .form_container_box {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      section.hiring_form .form_container_box:nth-child(1) .form_container_box_title::before {
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        content: '1';
        opacity: 0.3;
        color: #ffacc9;
        font-family: "Museo Sans Cyrl 700";
        font-size: 134px; }
      section.hiring_form .form_container_box:nth-child(2) .form_container_box_title::before {
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        content: '2';
        opacity: 0.3;
        color: #ffacc9;
        font-family: "Museo Sans Cyrl 700";
        font-size: 134px; }
      section.hiring_form .form_container_box_title {
        color: #e8347e;
        font-family: "Museo Sans Cyrl 500";
        font-size: 36px;
        position: relative;
        padding: 30px 0;
        padding-left: 35px; }
      section.hiring_form .form_container_box_desc {
        margin-top: 10px;
        margin-bottom: 20px;
        color: #4a4a4a;
        font-family: "Museo Sans Cyrl 100";
        font-size: 16px;
        line-height: 21px; }
      section.hiring_form .form_container_box_input {
        max-width: 300px;
        width: 100%;
        padding: 9px 16px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        color: #4a4a4a;
        font-family: "Museo Sans Cyrl 100";
        font-size: 18px;
        border: 1px solid #979797;
        margin-bottom: 25px; }
        section.hiring_form .form_container_box_input.err {
          border-bottom: 2px solid red; }
      section.hiring_form .form_container_box_radio {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex; }
        section.hiring_form .form_container_box_radio:last-child {
          margin-top: 10px; }
        section.hiring_form .form_container_box_radio > div {
          width: 13px;
          height: 13px;
          margin-right: 5px;
          border: 1px solid #4a4a4a;
          position: relative;
          border-radius: 100%; }
        section.hiring_form .form_container_box_radio_item {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          position: absolute;
          top: 1px;
          left: 1px;
          width: 9px;
          height: 9px;
          border-radius: 100%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-transition: all .4s ease-out;
          transition: all .4s ease-out; }
          section.hiring_form .form_container_box_radio_item:checked {
            background-color: #ff3181; }
        section.hiring_form .form_container_box_radio_label {
          color: #4a4a4a;
          font-family: "Museo Sans Cyrl 100";
          font-size: 14px;
          margin-right: 25px;
          -webkit-transform: translateY(-3px);
          transform: translateY(-3px); }
      section.hiring_form .form_container_box_textarea {
        max-width: 287px;
        max-height: 100px;
        min-width: 287px;
        min-height: 100px;
        margin-top: 20px;
        border: 1px solid #979797;
        padding: 9px 16px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        color: #4a4a4a;
        font-family: "Museo Sans Cyrl 100";
        font-size: 18px;
        border: 1px solid #979797; }
      section.hiring_form .form_container_box_btn {
        max-width: 287px;
        width: 100%;
        background-color: #ff3181;
        color: #ffffff;
        font-family: "Museo Sans Cyrl 300";
        font-size: 18px;
        padding: 8px 10px;
        margin-top: 32px;
        cursor: pointer;
        border: none; }

#testimonialsPage {
  padding-top: 172px; }

section.testimonials_section .wrapper {
  padding: 0 50px; }

section.testimonials_section .galleryBlock_more {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 25px;
  cursor: pointer; }
  section.testimonials_section .galleryBlock_more.active .galleryBlock_more_arrow {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg); }
  section.testimonials_section .galleryBlock_more_text {
    color: #ff3181;
    font-family: "Museo Sans Cyrl 300";
    font-size: 18px;
    margin-bottom: 3px; }
  section.testimonials_section .galleryBlock_more_arrow {
    width: 18px;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out; }

section.testimonials_section .wrapper {
  max-width: 800px; }
  section.testimonials_section .wrapper.hidden {
    height: 0;
    overflow: hidden; }

section.testimonials_section .services_title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  section.testimonials_section .services_title_line {
    width: 100%;
    height: 1px;
    background-color: #979797; }
  section.testimonials_section .services_title_text {
    min-width: 500px;
    text-align: center;
    color: #ff3181;
    font-family: "Museo Sans Cyrl 500";
    font-size: 42px; }
    section.testimonials_section .add_comment{
      color: #ffffff;
      font-family: "Museo Sans Cyrl 500";
      font-size: 16px;
      padding: 14px 30px;
      display: block;
      max-width: 270px;
      text-align: center;
      margin: 30px auto 50px auto;
      background-color: #ff3181;
      border: 2px solid #ff3181;
      -webkit-transition: all .4s ease-out;
      transition: all .4s ease-out;
    }
    section.testimonials_section .add_comment:hover{
      background: #fff;
      color: #ff3181;
    }

section.testimonials_section .services_desc {
  color: #3b3b3b;
  font-family: "Museo Sans Cyrl 300";
  text-align: center;
  font-size: 24px;
  margin: 0 auto; }

section.testimonials_section .testimonials_container_box {
  margin-top: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  padding-left: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 60px; }
  section.testimonials_section .testimonials_container_box .termonials_bubles {
    position: absolute;
    top: -40px;
    left: -50px;
    z-index: 9; }
  section.testimonials_section .testimonials_container_box.right_oriented .termonials_bubles {
    left: unset;
    right: -50px;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  section.testimonials_section .testimonials_container_box.right_oriented .testimonials_container_box_image {
    left: unset;
    right: -5%; }
  section.testimonials_section .testimonials_container_box.right_oriented .testimonials_container_box_title {
    padding-left: 0;
    padding-right: 45%; }
  section.testimonials_section .testimonials_container_box.right_oriented .testimonials_container_box_text {
    padding: 30px;
    padding-right: 45%; }
  section.testimonials_section .testimonials_container_box.right_oriented .testimonials_container_box_date {
    padding-left: 0;
    padding-right: 35%;
    text-align: end; }
  section.testimonials_section .testimonials_container_box_image {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    object-fit: cover;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: -5%;
    border-radius: 100%; }
  section.testimonials_section .testimonials_container_box_title {
    color: #ff3181;
    font-family: "Museo Sans Cyrl 500";
    font-size: 18px;
    margin-bottom: 20px;
    padding-left: 45%; }
  section.testimonials_section .testimonials_container_box_text {
    color: #4a4a4a;
    font-family: "Museo Sans Cyrl 100";
    font-size: 16px;
    line-height: 20px;
    background: #ededed;
    padding: 30px;
    padding-left: 45%; }
  section.testimonials_section .testimonials_container_box_date {
    color: #9b9b9b;
    font-family: "Museo Sans Cyrl 500";
    font-size: 18px;
    padding-left: 30%;
    margin-top: 20px; }

header.header .header_container_link {
  border: 2px solid #ff3181;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out; }
  header.header .header_container_link:hover {
    background: #fff;
    color: #ff3181; }

section.main_slider .main_slider_container_box_link {
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out; }
  section.main_slider .main_slider_container_box_link:hover {
    background: #fff;
    color: #ff3181;
    border-color: #ff3181; }

footer.footer .footer_container_item_link {
  border: 2px solid #ff3181;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out; }
  footer.footer .footer_container_item_link:hover {
    background: transparent;
    color: #ff3181; }

footer.footer .footer_container_item_link.report_mistake {
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out; }
  footer.footer .footer_container_item_link.report_mistake:hover {
    background: #ff3181;
    color: #fff; }

footer.footer .footer_container_item_social_link use {
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out; }

footer.footer .footer_container_item_social_link:hover {
  opacity: 1; }
  footer.footer .footer_container_item_social_link:hover .social_icon {
    opacity: 1; }
    footer.footer .footer_container_item_social_link:hover .social_icon use {
      fill: #ff3181;
      opacity: 1; }
    footer.footer .footer_container_item_social_link:hover .social_icon path {
      fill: #ff3181;
      opacity: 1; }


      

#bookOnlinePage {
  padding-top: 172px; }

section.bookOnline_section .bookOnline_title {
  color: #e8347e;
  font-family: "Museo Sans Cyrl 500";
  font-size: 42px;
  text-align: center; }

section.bookOnline_section .bookOnline_desc {
  max-width: 403px;
  text-align: center;
  color: #4a4a4a;
  font-family: "Museo Sans Cyrl 300";
  font-size: 20px;
  margin: 0 auto; }

section.book-online_form .form_container_box_w100 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  section.book-online_form .form_container_box_w100 .form_container_box_dexcription {
    color: #4a4a4a;
    font-family: "Museo Sans Cyrl 100";
    font-size: 16px;
    line-height: 21px;
    max-width: 308px;
    width: 100%;
    -webkit-transform: translate(40px, -20px);
    transform: translate(40px, -20px); }
  section.book-online_form .form_container_box_w100 .row {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 50px; }
  section.book-online_form .form_container_box_w100 .form_container_box_input-submit {
    color: #fff;
    background: #ff3181;
    border: none;
    cursor: pointer; }

section.book-online_form .form_container_box .form_container_box_desc.bold_text {
  color: #4a4a4a;
  font-family: "Museo Sans Cyrl 500";
  font-size: 18px;
  line-height: 21px; }

section.book-online_form .form_container_box_list {
  margin-top: 30px; }
  section.book-online_form .form_container_box_list_item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    z-index: 10; }
    section.book-online_form .form_container_box_list_item .box_radio_input {
      -webkit-appearance: none;
      position: absolute;
      top: 1px;
      left: 1px;
      width: 9px;
      height: 9px;
      border-radius: 100%;
      background-color: #fff;
      background-position: 100% 100%;
      background-size: 9px 9px;
      cursor: pointer;
      -webkit-transition: all .4s ease-out;
      transition: all .4s ease-out; }
      section.book-online_form .form_container_box_list_item .box_radio_input:checked {
        background-color: #ff3181;
        background-position: 100% 100%;
        background-size: 9px 9px; }
      section.book-online_form .form_container_box_list_item .box_radio_input:checked ~ span {
        -webkit-transition: all .4s ease-out;
        transition: all .4s ease-out;
        color: #ff3181; }
    section.book-online_form .form_container_box_list_item .box_radio {
      width: 13px;
      margin-right: 15px;
      height: 13px;
      border: 1px solid #4a4a4a;
      border-radius: 100%;
      position: relative; }
    section.book-online_form .form_container_box_list_item .box_text {
      color: #4a4a4a;
      font-family: "Museo Sans Cyrl 500";
      font-size: 18px;
      line-height: 22px;
      -webkit-transition: all .4s ease-out;
      transition: all .4s ease-out; }
      section.book-online_form .form_container_box_list_item .box_text.active {
        color: #ff3181;
        font-family: "Museo Sans Cyrl 700"; }
    section.book-online_form .form_container_box_list_item .box_desc {
      color: #9b9b9b;
      font-family: "Museo Sans Cyrl 300";
      font-size: 14px;
      display: none; }
      section.book-online_form .form_container_box_list_item .box_desc.active {
        display: block; }
    section.book-online_form .form_container_box_list_item .box_arrow {
      margin-left: 5px;
      -webkit-transition: all .4s ease-out;
      transition: all .4s ease-out; }
      section.book-online_form .form_container_box_list_item .box_arrow.active {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg); }
  section.book-online_form .form_container_box_list .box_accordeon {
    padding-left: 38px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: none; }
    section.book-online_form .form_container_box_list .box_accordeon.active {
      display: block; }
    section.book-online_form .form_container_box_list .box_accordeon_item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      cursor: pointer; }
      section.book-online_form .form_container_box_list .box_accordeon_item.err{
        border: none !important;
      }
      section.book-online_form .form_container_box_list .box_accordeon_item_checkbox {
        margin-right: 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 13px;
        height: 10px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain; }
        section.book-online_form .form_container_box_list .box_accordeon_item_checkbox:checked {
          background: url("../../images/checkbox_inp.svg"); }
        section.book-online_form .form_container_box_list .box_accordeon_item_checkbox:checked + .box_accordeon_item_text {
          color: #ff3181; }
      section.book-online_form .form_container_box_list .box_accordeon_item_text {
        color: #4a4a4a;
        font-family: "Museo Sans Cyrl 500";
        font-size: 18px;
        max-width: 278px; }

section.book-online_form .form_container_box_small_item {
  margin-bottom: 15px; }
  section.book-online_form .form_container_box_small_item .small_item_text {
    color: #4a4a4a;
    font-family: "Museo Sans Cyrl 300";
    font-size: 20px;
    margin-bottom: 10px; }
  section.book-online_form .form_container_box_small_item .small_item_input {
    max-width: 160px;
    width: 100%;
    border: 1px solid #979797;
    color: #4a4a4a;
    font-family: "Museo Sans Cyrl 300";
    font-size: 16px;
    padding: 9px 16px; }

section.hiring_form .form_container_box:nth-child(3) .form_container_box_title::before {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: '3';
  opacity: 0.3;
  color: #ffacc9;
  font-family: "Museo Sans Cyrl 700";
  font-size: 134px; }

section.hiring_form .form_container_box:nth-child(4) .form_container_box_title::before {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: '4';
  opacity: 0.3;
  color: #ffacc9;
  font-family: "Museo Sans Cyrl 700";
  font-size: 134px; }

section.hiring_form .form_container_box:nth-child(5) .form_container_box_title::before {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: '5';
  opacity: 0.3;
  color: #ffacc9;
  font-family: "Museo Sans Cyrl 700";
  font-size: 134px; }

@media screen and (min-width: 1025px) {
  section.first_section .first_section_container_box {
    width: 600px;
    height: 600px;
    -webkit-transform: translateY(100px);
    transform: translateY(100px); }
  section.first_section .first_section_container {
    min-height: 60vh; }
  section.first_section .wrapper {
    min-height: 60vh; }
  section.first_section .first_section_image {
    max-height: 75%;
    right: 100px; }
  section.first_section .first_section_container_box_desc {
    font-size: 16px; } }

@media screen and (max-width: 1240px) {
  section.settingsAdmin_section .testimonials_block .pagination_table {
    right: unset;
    left: 0; }
  section.settingsAdmin_section .settingAdmin_block .edit_modal .close_edit_modal {
    right: 50%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    top: -40px; }
  section.settingsAdmin_section .settingAdmin_block .edit_modal_container {
    left: 0;
    right: 0;
    -webkit-transform: translateX(15px);
    transform: translateX(15px); } }

@media screen and (max-width: 1024px) {
  header.header .header_desc_container {
    display: none; }
  header.header .header_container.header_mob {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  header.header .header_info.header_mob {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; } }

@media screen and (max-width: 991px) {
  .hiring_container_box:nth-child(2) {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -moz-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  section.galleryAdmin_section .galleryAdmin_modal_container_btn {
    max-width: 150px; }
  section.galleryAdmin_section .galleryAdmin_modal_container_delete {
    max-width: 150px; }
  section.about_hiring .hiring_container_box_desc {
    max-width: 682px;
    width: 100%;
    text-align: center; }
  section.about_hiring .hiring_container_box_image {
    max-width: 682px;
    width: 100%;
    margin: 0 auto;
    display: block; }
  section.about_hiring .hiring_container_box_list {
    display: none; }
  section.about_hiring .hiring_container_box_list_title {
    display: none; }
  section.about_hiring .hiring_container_box_list_mob {
    padding-left: 30px;
    padding-top: 42px;
    padding-bottom: 50px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto; }
    section.about_hiring .hiring_container_box_list_mob .list_title {
      color: #4a4a4a;
      font-family: "Museo Sans Cyrl 300";
      font-size: 24px;
      margin-bottom: 15px;
      -webkit-transform: translateX(-20px);
      transform: translateX(-20px); }
    section.about_hiring .hiring_container_box_list_mob .list_item {
      color: #4a4a4a;
      font-family: "Museo Sans Cyrl 300";
      font-size: 16px;
      line-height: 21px;
      margin: 7.5px 0;
      position: relative; }
      section.about_hiring .hiring_container_box_list_mob .list_item::before {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        left: -20px;
        border-radius: 100%;
        width: 7px;
        height: 7px;
        background: #e8347e;
        content: ''; } }

@media screen and (max-width: 850px) {
  .gallery_modal_slider_box_header_title {
    font-size: 24px; }
  .gallery_modal_slider_box_header_date {
    font-size: 20px; } }

@media screen and (max-width: 800px) {
  section.galleryAdmin_section .galleryAdmin_modal {
    left: 0; } }

@media screen and (max-width: 768px) {
  section.first_section .first_section_image {
    right: -50px;
    max-height: 47%;
    z-index: 3; }
  section.faq_section .wrapper {
    max-width: unset; }
  section.services .services_container_box {
    margin-bottom: 30px; }
  section.first_section .wrapper {
    min-height: 150vh; }
  section.reviews .services_slider .arrow_slider {
    top: -103px;
    -webkit-transform: none;
    transform: none; }
    section.reviews .services_slider .arrow_slider:hover {
      -webkit-transform: none;
      transform: none; }
  section.reviews .services_slider_box_item {
    max-width: 200px;
  height: 200px; }
  section.reviews .services_slider_box_text .box_text {
    padding: 15px; }
  section.reviews .services_slider_box_text .box_text::after {
    width: 70vw; }
  section.customers .customers_container_item {
    margin-bottom: 60px; }
  .menu_container_link_box > div {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .menu_container_link_box_item {
    width: 32%; }
  .menu_container_link_box.active {
    height: 190px; }
  .menu_container_link_box.active#mob2 {
    height: 70px; }
  #servicePage {
    padding-top: 102px; }
  section.service_first .first_container_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  section.service_first .first_container_item_box {
    margin-left: 0; }
  section.aboutService .services_title {
    display: block;
    text-align: center; }
  section.aboutService .services_container .services_title {
    display: none; } }

@media screen and (max-width: 767px) {
  section.aboutService .services_title {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px; }
  .services_container_box:nth-child(2) {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -moz-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 44px; }
  .services_container_box:nth-child(1) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .services_container_box:nth-child(1) .services_container_box_text {
      width: 45%;
      margin: 0; }
  section.section_list .list_container_box {
    margin: 0 auto; }
  section.section_list .list_container_box:nth-child(1) {
    margin-bottom: 70px; } }

@media screen and (max-width: 600px) {
  section.testimonials_section .wrapper {
    padding: 0 15px; }
  section.bookOnline_section .bookOnline_title {
    font-size: 24px; }
  section.bookOnline_section .bookOnline_desc {
    font-size: 16px; }
  section.settingsAdmin_section .settingAdmin_block .edit_modal.active {
    position: fixed;
    left: 0; }
  section.hiring_form.book-online_form .form_container_box_title {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start; }
  section.book-online_form .form_container_box_w100 .form_container_box_dexcription {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-transform: translate(25px, 0);
    transform: translate(25px, 0); }
  section.settingsAdmin_section .settingAdmin_block .edit_modal_container {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
    left: 0;
    right: 0; }
  section.testimonials_section .services_title_text {
    min-width: 250px; }
  header.header .header_container_logo_item_mob {
    display: block; }
  section.testimonials_section .testimonials_container_box.right_oriented {
    padding-left: 0;
    padding-right: 50px; }
  #nowHiringPage {
    padding-top: 140px; }
  section.about_hiring .hiring_container_box_title {
    font-size: 24px; }
  section.about_hiring .hiring_container_box_desc {
    font-size: 14px; }
  section.about_hiring .hiring_container_box_list_mob .list_title {
    font-size: 20px; }
  section.about_hiring .hiring_container_box_list_mob .list_item {
    font-size: 14px; }
  section.requirements .services_title_text, section.hiring_form .services_title_text {
    font-size: 24px;
    min-width: 250px; }
  section.requirements .services_desc, section.hiring_form .services_desc {
    font-size: 14px; }
  section.hiring_form .form_container_box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px; }
  section.hiring_form {
    padding-bottom: 55px; }
  section.hiring_form .form_container_box_title {
    font-size: 24px;
    padding: 0;
    padding-left: 25px; }
  section.hiring_form .form_container_box:nth-child(1) .form_container_box_title::before {
    font-size: 94px; }
  section.hiring_form .form_container_box:nth-child(2) .form_container_box_title::before {
    font-size: 94px; }
  section.service_first .first_container {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  section.service_first .first_container_item_icon {
    width: 80px; }
  section.service_first .first_container_item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  section.service_first .first_container_item_box {
    text-align: end; }
  section.service_first .first_container_item {
    width: 100%; }
  .service_first .wrapper {
    padding: 0; }
  section.section_list .list_container_box:nth-child(1) {
    border: none; }
  section.service_first .first_container_item_box .box_desc {
    max-width: 210px; }
  section.service_first .first_container_item_box .box_title {
    font-size: 24px; }
  section.service_first .first_container_item_box .box_desc {
    font-size: 14px; }
  header.header .header_container_logo_item {
    display: none; }
  header.header .header_container_logo {
    width: unset; }
  header.header .header_container_link {
    padding: 9px 12px; }
  header.header .header_info_item:first-child {
    display: none; }
  header.header .header_info {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 15px; }
  header.header .header_container {
    padding: 10px 0; }
  section.first_section .first_section_container {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 50px; }
  section.first_section .first_section_container_box_desc:last-child {
    max-width: 60%;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start; }
  section.first_section .first_section_image {
    max-width: 45%;
    max-height: unset;
    bottom: -60px; }
  section.first_section .wrapper {
    min-height: unset;
    padding-bottom: 10vw;
    overflow: hidden; }
  section.first_section .first_section_container_box {
    padding: 20px; }
  section.first_section .first_section_container_box_title {
    font-size: 24px;
    text-align: center; }
  section.first_section .first_section_container_box_desc {
    font-size: 12px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start; }
  section.first_section .first_section_container_box .circle {
    width: 550px;
    height: 550px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  section.section_list .list_container_box:nth-child(1) {
    padding: 0 0 0 40px;
    margin-bottom: 30px; }
  section.first_section .first_section_container {
    min-height: unset; }
  section.reviews .services_slider_box_text {
    padding-top: 70px; }
  section.main_slider .main_slider_container_box .wrapper {
    min-height: 400px;
    padding-top: 75px;
    padding-bottom: 64px; }
  section.main_slider .main_slider_container_box_title {
    font-size: 24px;
    max-width: 300px; }
  section.services .services_title_line, section.reviews .services_title_line, section.customers .services_title_line {
    display: none; }
  section.services .services_title, section.reviews .services_title, section.customers .services_title {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  section.reviews .services_slider_box {
    position: relative;
    padding-top: 70px; }
  section.reviews .services_slider_box_text .box_title {
    max-width: 155px;
    left: 170px;
    right: unset;
    color: #ff3181;
    text-align: left;
    top: 80px;
    z-index: 3;
    font-size: 14px; }
  section.reviews .services_slider_box_item {
    position: absolute;
    top: 50px;
    left: 0;
    max-width: 150px;
    height: 150px; }
  section.reviews .services_slider {
    padding: 0; }
  section.reviews .services_slider_box_text .box_text {
    margin-left: 50px;
    padding: 70px 15px 15px; }
  section.reviews .services_slider_box_text .box_text::after {
    width: 100%; }
  section.services .services_container_desc {
    font-size: 14px; }
  #servicePage {
    padding-top: 130px; }
  #testimonialsPage {
    padding-top: 140px; }
  section.testimonials_section .services_title_text {
    font-size: 24px; }
  section.testimonials_section .services_desc {
    font-size: 14px; }
  section.testimonials_section .testimonials_container_box_text {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px; }
  section.testimonials_section .testimonials_container_box_date {
    font-size: 14px;
    padding-left: 0;
    margin-top: 10px; }
  section.testimonials_section .testimonials_container_box.right_oriented .testimonials_container_box_date {
    padding-right: 0; }
  section.testimonials_section .testimonials_container_box.right_oriented .testimonials_container_box_text {
    padding-left: 30px;
    padding-right: 30px; }
  section.testimonials_section .testimonials_container_box.right_oriented .testimonials_container_box_title {
    padding-left: 30px;
    padding-top: 50px; }
  section.testimonials_section .testimonials_container_box.right_oriented .termonials_bubles {
    right: 110px;
    -webkit-transform: none;
    transform: none; }
  section.testimonials_section .testimonials_container_box_title {
    margin: 0;
    padding: 0 30px;
    padding-left: 100px;
    font-size: 14px;
    background: #ededed;
    padding-top: 20px; }
  section.testimonials_section .testimonials_container_box {
    padding-top: 45px;
    margin-top: 100px; }
  section.testimonials_section .testimonials_container_box .termonials_bubles {
    left: 110px;
    top: -60px;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  section.testimonials_section .testimonials_container_box_image {
    width: 157px;
    top: -30px;
    left: -25px;
    line-break: 50px;
    -webkit-transform: none;
    transform: none; }
  section.book-online_form .form_container_box {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; } }

@media screen and (max-width: 700px) {
  .gallery_modal_slider_box {
    padding: 40px 70px; }
  .gallery_modal_slider_box_header_date {
    font-size: 16px; }
    .gallery_modal_slider_box_header_date b {
      font-size: 16px; }
  .gallery_modal_slider_box_header_title {
    font-size: 20px; }
  section.galleryBlock .gallery_container_box_name {
    font-size: 18px; } }

@media screen and (max-width: 575px) {
  footer.footer .footer_container_item {
    border: none; }
    footer.footer .footer_container_item:nth-child(2) {
      -webkit-box-ordinal-group: 0;
      -webkit-order: -1;
      -moz-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
      margin-bottom: 20px; }
  section.galleryAdmin_section .galleryAdmin_modal_container_box {
    width: 100%; }
  section.galleryAdmin_section .galleryAdmin_modal_container .form_tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  header.header .header_container_link {
    padding: 7px 17px; }
  section.section_list .list_container_box_btn {
    margin: 0 auto;
    margin-top: 40px; }
  section.galleryBlock .gallery_container_box_mob {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  section.aboutService .services_title {
    font-size: 24px; }
  .services_container_box:nth-child(2) {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -moz-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 44px; }
  .services_container_box:nth-child(1) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .services_container_box:nth-child(1) .services_container_box_text {
      width: 100%;
      margin: 0; } }

@media screen and (max-width: 550px) {
  .gallery_modal_slider_box_header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .gallery_modal_slider_box_header_title {
    margin-bottom: 30px; } }

@media screen and (max-width: 500px) {
  .modal_report_container {
    padding-top: 20px;
    padding-bottom: 20px; }
  .modal_report_container_title {
    font-size: 18px; }
  .modal_report_container_text {
    font-size: 14px; }
  .modal_report_container_input {
    font-size: 14px;
    margin-bottom: 15px; }
  .modal_report_container_textarea {
    min-width: unset;
    width: 100%;
    font-size: 14px;
    margin-bottom: 15px;
    min-height: 150px;
    max-height: 150px; }
  .modal_report_container_btn {
    font-size: 16px; }
  section.reviews .services_slider .arrow_slider svg {
    width: 12px; }
  section.faq_section .faq_title {
    font-size: 24px; }
  section.faq_section .faq_desc {
    font-size: 14px; }
  section.faq_section .faq_container_title {
    font-size: 24px; }
  section.faq_section .faq_container_text {
    font-size: 14px; }
  section.faq_section .faq_container_title::after {
    width: 174px; }
  section.reviews .services_slider .arrow_slider {
    top: -78px; }
  section.first_section .wrapper {
    padding-bottom: 0; }
  section.services .services_title_text, section.reviews .services_title_text, section.customers .services_title_text {
    font-size: 24px;
    padding: 0 50px; }
  section.services .services_desc, section.reviews .services_desc, section.customers .services_desc {
    font-size: 14px; }
  section.first_section .first_section_container_box {
    height: 480px; }
  section.first_section .first_section_container_box_desc:last-child {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9; }
  .menu_container_link_box_item {
    width: 50%; }
  .menu_container_link_box.active {
    height: 290px; }
  .menu_container_link_box.active#mob2 {
    height: 70px; } }

@media screen and (max-width: 425px) {
  .gallery_modal_slider_box {
    padding: 40px; }
  .gallery_modal_slider .arrow_slider_item.right {
    right: -40px; }
  .gallery_modal_slider .arrow_slider_item.left {
    left: -40px; }
  section.galleryAdmin_section .galleryAdmin_modal_container_btn {
    width: 100px; }
  section.galleryAdmin_section .galleryAdmin_modal_container_delete {
    width: 100px; } }

@media screen and (max-width: 375px) {
  section.services .services_container_title {
    font-size: 16px; } }

.err {
  border: 1px solid red !important; }
